<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách yêu cầu hợp tác
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="25%">Tên chủ yêu cầu</th>
        <th width="25%">Năm sinh</th>
        <th width="25%">Email</th>
        <th >Số điện thoại</th>
        <th >Thời gian gửi</th>
      </tr>
      <tr ng-repeat="item in drivers track by $index">
        <td>{{item.name}}</td>
        <td>{{item.old}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.created | date: 'hh:mm dd/MM/yyyy'}}</td>
      </tr>
      </tbody></table>
  </div>

</div>

