<div style="text-align: center; margin-top: 4px">
  <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: row.entity.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ui-sref="^.edit({ id: row.entity.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="^.delete({ id: row.entity.id })">
          <i class="fa fa-trash-o"></i>
        </a>
</span>

</div>
