<form name="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span ng-show="!ctrl.user.id" translate>Thêm mới khách hàng</span>
      <span ng-show="ctrl.user.id" translate>Thay đổi thông tin khách hàng</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-danger" ng-if="addError" translate>Không thể thêm mới!</div>
          <formly-form model="ctrl.user" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
        Thêm mới
      </button>
      <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Hủy bỏ</button>
    </div>
  </div>
</form>
