<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách khách hàng
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>

  <div class="panel-body">
    <div ui-grid="gridOptions"></div>
  </div>
</div>
