<div class="lockscreen">
  <div class="form-box" id="login-box">
    <div class="header" style="text-align: left; padding-left: 25px;" translate>Đăng nhập
      <span ui-sref="index.home" style="cursor: pointer"><img src="/images/logo_thump_white.png" alt="" style="width: 50px;float: right;margin-top: -7px;margin-right: 10px;"></span> </div>
    <form role="form" ng-submit="login()" method="post">
      <div class="body bg-gray">
        <div class="callout callout-danger" ng-if="loginError">
          <p>{{loginError.message | translate}}</p>
        </div>
        <auto:fields fields="schema" data="credentials" options="options"></auto:fields>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-olive btn-block" translate>Đăng nhập</button>
        <a ui-sref="index.register" class="btn bg-yellow btn-block" translate>Đăng ký</a>
        <a class="btn bg-blue-gradient btn-block" translate>Quên mật khẩu</a>
        <div class="row">
          <div class="col-md-6" ng-repeat="provider in authProviders" >
            <a ng-hide="provider.link" ng-click="socialLogin(provider)"
               class="btn btn-block btn-{{provider.class}}">
              {{provider.provider | ucfirst}}
            </a>
          </div>

        </div>

      </div>
    </form>
  </div>
</div>
