<section admin-header class="content-header"
         title="{{ 'Khách hàng' | translate}}"
         sub-title="{{ 'Quản lý danh sách khách hàng!' | translate}}">
</section>
<section ui-view class="content"></section>
