<div class="lockscreen" style="height: 100vh">
  <div class="form-box" id="login-box">
    <span class="pull-right image" style="margin: 15px 20px; float: left;">
      <img src="/images/logo_thump_white.png" class="img-circle" alt="User Image" style="width: 50px;float: right;margin-top: -7px;margin-right: 10px;">
    </span>

    <div class="header" style="text-align: left; padding-left: 25px;" translate>Đăng ký thành viên</div>

    <form name="joinForm" class="form-signin" role="form" ng-submit="register()">
      <div class="body bg-gray">
        <div class="callout callout-danger" ng-if="registerError">
          <p>{{registerError.message | translate }}</p>
        </div>
        <auto:fields fields="schema" data="registration" options="options"></auto:fields>
      </div>
      <div class="footer">
        <button type="submit" class="btn bg-olive btn-block" ng-class="{'btn-primary':joinForm.$valid}" translate>
          Đăng ký
        </button>
        <a ui-sref="index.login" class="btn bg-yellow btn-block" translate>Đăng nhập</a>
      </div>
    </form>
  </div>
</div>
