<div id="position">
  <div class="container">
    <ul>
      <li><a href="#0">Trang chủ </a></li>
      <li><a href="#0">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>
  </div>
</div>
<div class="container margin_60_35">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Việc làm linh hoạt và lương cạnh tranh </h2>
    <p>
      Dfood thường xuyên tuyển dụng các vị trí và CTV.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_currency"></i>
        <h3>Lương cạnh tranh</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_easel"></i>
        <h3>Cơ hội thăng tiến cao</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_mobile"></i>
        <h3>Hệ thống quản lý công việc hiệu quả</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_map_alt"></i>
        <h3>Làm việc trong môi trường năng động và tài năng</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_clock_alt"></i>
        <h3>Thời gian linh hoạt</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
      <div class="feature_2">
        <i class="icon_calendar"></i>
        <h3>Được đào tạo kỹ năng thường xuyên</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
        </p>
      </div>
    </div>
  </div><!-- End row -->
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 nopadding features-intro-img">
      <div class="features-bg img_2">
        <div class="features-img">
        </div>
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="features-content">
        <h3>"Để có thể tham gia cùng chúng tôi, bạn sẽ cần chuẩn bị "</h3>
        <ul class="list_ok">
          <li>Một chiếc xe đạp hoặc xe máy với những thiết bị an toàn khác ( Điều đó rất quan trọng đối với chúng tôi ).</li>
          <li>Một điện thoại có thể nghe gọi, smartphone là một lợi thế.</li>
          <li>Tính cẩn thận và trách nhiệm với công việc.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
