  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <!--<div id="thumb"><img src="/images/thumb_restaurant.jpg" alt=""></div>-->
      <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)</div>-->
      <h1>Hợp tác với chúng tôi</h1>
      <div><em>Dfood mong muốn đến đến cho khách hàng bạn những cơ hội hợp tác tốt nhất.</em></div>
      <!--<div><i class="icon_pin"></i> Phục vụ 24/7 </div>-->
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
