<header class="headerStyle" ui-view="submitDriver_header"></header>
<section class="parallax-window" ui-view="submitDriver_info" style="background: url(/images/list-bg.png)"></section>
<section class="" ui-view="submitDriver_main"></section>
<section class="container margin_60" ui-view="submitDriver_form"></section>
<footer class="" ui-view="submitDriver_footer"></footer>

