<div class="">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Đăng ký thông tin theo mẫu sau </h2>
    <p>
      Chúng tôi sẽ liên lạc tư vấn cho bạn trong thời gian sớm nhất có thể.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!--<div text-angular ng-model="htmlVariable"></div>-->
      <form ng-submit="submitFormDrive()">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Họ và tên</label>
              <input type="text" class="form-control" id="name_contact" name="name_contact" placeholder="Jhon" ng-model="form.name">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Năm sinh </label>
              <input type="text" class="form-control" id="lastname_contact" name="lastname_contact" placeholder="1994" ng-model="form.old">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Email:</label>
              <input type="email" id="email_contact" name="email_contact" class="form-control" placeholder="jhon@email.com" ng-model="form.email">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Phone number:</label>
              <input type="text" id="phone_contact" name="phone_contact" class="form-control" placeholder="00 44 5435435" ng-model="form.phone">
            </div>
          </div>
        </div>
        <hr style="border-color:#ddd;">
        <div class="text-center"><button class="btn_full_outline" type="submit">Gửi thông tin</button></div>
      </form>
    </div><!-- End col  -->
  </div><!-- End row  -->
</div>
