<section class="parallax-window" id="short" style="background: url(/images/sub_header_cart.jpg)">
  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <h1>  CHÍNH SÁCH BẢO MẬT THÔNG TIN
      </h1>
      <p></p>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section>
<div class="container " style="background: white;margin-top: 60px;margin-bottom: 60px;
padding: 20px;max-width: 1000px">
  <img src="/images/policy/policy1.jpg" alt="">
  <img src="/images/policy/policy2.jpg" alt="">

</div>
