<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng
    <span style="margin-left: 15px;display: inline-block;">
      <!--<div class="form-group">-->
         <!--<select class="form-control" name="" id="" ng-model="ctrl.location" ng-change="ctrl.selectLocation(ctrl.location)">-->
        <!--<option value="Hue">Thành phố Huế</option>-->
        <!--<option value="Danang">Thành phố Đà Nẵng</option>-->
      <!--</select>-->
      <!--</div>-->

    </span>
    <!--<span class="pull-right btn-group">-->
      <!--<a ng-if="ctrl.roleUser == 'admin'" class="btn btn-xs btn-success" ui-sref="^.add()">-->
        <!--<i class="fa fa-plus"></i>-->
      <!--</a>-->
    <!--</span>-->
  </div>
  <div class="panel-body">
    <table class="table table-bordered" ng-show="bookings.length">
      <tbody><tr>
        <th width="10%">Thời gian đặt hàng</th>
        <th width="10%">Mã đơn hàng</th>
        <th >Tên món ăn</th>
        <th >Số lượng món ăn</th>
        <th width="10%">Giá trị đơn hàng</th>
        <th width="10%">Trạng thái</th>
        <th width="10%">Điều chỉnh</th>
      </tr>
      <tr ng-repeat="item in bookings track by $index">
        <td>{{item.timeDelivery}} - {{item.dateDelivery|date:'dd/MM/yyyy'}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.id}}</td>
        <td>
          <p ng-repeat="food in item.foods">{{food.name}}</p>
        </td>
        <td>
          <p ng-repeat="food in item.foods">{{food.count}}</p>
        </td>
        <td>{{item.totalPrices}}</td>
        <td>{{item.status}}</td>
        <td><span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
      </span></td>
      </tr>
      </tbody></table>
    <div ng-show="!bookings.length">
      <h4 class="list-group-item-heading" translate>
       Bạn chưa đặt món ăn tại Dfood.
      </h4>

      <p class="list-group-item-text" translate>Bắt đầu<a href="" ui-sref="index.listRestaurants"> đặt </a>ngay</p>
    </div>
  </div>
</div>

