<section admin-header class="content-header"
         title="{{ 'Nhân viên giao hàng' | translate }}"
         sub-title="{{ 'Quản lý nhân viên giao hàng tại đây!' | translate }}">
</section>
<section ui-view class="content"></section>
