<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.shipper.name}}
    <small class="label label-default">{{ctrl.shipper.price}}</small>

    <span class="pull-right btn-group">
    <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({shipperId: ctrl.shipper.id})">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" class="btn btn-xs btn-default" ui-sref="^.delete({shipperId: ctrl.shipper.id})">
      <i class="fa fa-trash-o"></i>
    </a>
  </span>
  </div>
  <div class="panel-body">
    <pre>{{ctrl.shipper | json}}</pre>
    <img ng-if="ctrl.shipper.urlImage" ng-src="{{ctrl.shipper.urlImage}}" alt="">
  </div>
</div>
