<section class="parallax-window"  style="background: url(/images/list-bg.png)">
  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <div id="thumb"><img src="/images/logo_thump_white.png" alt=" " style="background: #b11116;"></div>
      <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)</div>-->
      <h1>Dfood.vn</h1>
      <div><em>Sự lựa chọn cho từng bữa ăn của bạn</em></div>
      <div><i class="icon_pin"></i> Phục vụ 24/7 </div>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section>
<div id="position">
  <div class="container" ng-init="show = false" ng-mouseleave="show = false">
    <ul>
      <li><a href="/">Trang chủ </a></li>
      <li><a href="/listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <!--<a ng-mouseover="show = true" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>-->
    <!--<input ng-show="show" type="text" ng-change="queryDatas(valueSearch)" ng-model="valueSearch" style="position:absolute;margin-top: -5px;margin-left: 10px;padding: 4px;border: 1px solid rgba(0, 0, 0, 0.31);border-radius: 10px;">-->
  </div>
</div>
<!--<div class="mapStyle" ng-show="showMap == true">-->
<!--<div id="map" class="ggMap " ></div>-->
<!--</div>-->
<div class="container margin_60_35">
  <div class="row">

    <div class="col-md-3">
      <!--<p>-->
      <!--<a class="btn_map collapsed" ng-click="showMapFunc()">Xem trên bản đồ</a>-->
      <!--</p>-->
      <div id="filters_col">
        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Bộ lọc <i class="icon-plus-1 pull-right"></i></a>
        <div class="collapse in" id="collapseFilters">
          <div class="filter_type">
            <h6>Loại tìm kiếm </h6>
            <ul>
              <li><label><div class="icheckbox_square-grey" ng-class="typeName == 'Nha hang' ? 'checked' : ''" style="position: relative;"><input type="checkbox" class="icheck" ng-click="optionTypeSearch('Nha hang')" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Nhà hàng <small>({{countCategory}})</small></label></li>
              <li><label class=""><div class="icheckbox_square-grey" ng-class="typeName == 'Mon an' ? 'checked' : ''" style="position: relative;"><input type="checkbox" class="icheck" ng-click="optionTypeSearch('Mon an')" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Món ăn <small>({{countProduct}})</small></label><i class="color_1"></i></li>
            </ul>
            <h6>Khu vực </h6>
            <ul>
              <li><label><div class="icheckbox_square-grey" ng-class="zoneName == 'Tất cả' ? 'checked' : ''" style="position: relative;"><input type="checkbox" ng-click="optionZoneSearch('Tất cả')" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Tất cả<small>({{restaurants.length}})</small></label></li>
              <li><label><div class="icheckbox_square-grey" ng-class="zoneName == 'Huế' ? 'checked' : ''" style="position: relative;"><input type="checkbox" ng-click="optionZoneSearch('Huế')" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Huế <small>({{restaurants.length}})</small></label></li>
              <li><label class=""><div class="icheckbox_square-grey" ng-class="zoneName == 'Đà Nẵng' ? 'checked' : ''" style="position: relative;"><input type="checkbox" ng-click="optionZoneSearch('Đà Nẵng')" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Đà Nẵng <small>({{restaurants.length}})</small></label><i class="color_1"></i></li>
            </ul>
            <h6 ng-show="typeName == 'Mon an'">Theo loại</h6>
            <ul ng-show="typeName == 'Mon an'">
              <li><label><div class="icheckbox_square-grey checked" style="position: relative;"><input type="checkbox" checked="" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Tất cả <small>(49)</small></label></li>
              <li><label class=""><div class="icheckbox_square-grey" style="position: relative;"><input type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Đồ chay <small>(12)</small></label><i class="color_1"></i></li>
              <li><label class=""><div class="icheckbox_square-grey" style="position: relative;"><input type="checkbox" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Đồ mặn  <small>(5)</small></label><i class="color_2"></i></li>
            </ul>
          </div>
        </div><!--End collapse -->
      </div><!--End filters col-->
    </div><!--End col-md -->

    <div class="col-md-9" >

      <div id="tools">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select">
              <select name="sort_rating" id="sort_rating" ng-model="rateName" ng-change="optionRateSearch(rateName)">
                <option value="normal" selected="">Xếp hạng tăng dần</option>
                <option value="new">Mới nhất</option>
                <option value="hot">Thịnh hành nhất</option>
              </select>
            </div>
          </div>
          <div class="col-md-9 col-sm-9 hidden-xs">
            <a class="bt_filters"><i class="icon-th"></i></a>
          </div>
        </div>
      </div><!--End tools -->

      <div class="strip_list wow fadeIn animated" ng-if="typeName == 'Nha hang'" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;" ng-repeat="item in restaurants track by $index">
        <div class="ribbon_1">
          Popular
        </div>
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a><img ng-src="{{item.imageSrc ||'/images/thumb_restaurant.jpg'}}" alt=""></a>
              </div>
              <div class="rating">
              <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                <!--(<small><a href="#0">98 reviews</a></small>)-->
              </div>
              <h3>{{item.name}}</h3>
              <div class="type">
                {{item.type}} / {{item.zone}}
              </div>
              <div class="location">
                {{item.address}} <span class="opening">Giờ mở cửa  {{item.open | date :'shortTime'}}.</span>
              </div>
              <ul>
                <li>Lấy ngay<i class="icon_check_alt2 ok"></i></li>
                <li>Vận chuyển<i class="icon_check_alt2 no"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to">
              <div class="">
                <a ui-sref="detail({id:item.id,zone: item.zone})" class="btn_1">Xem Menu</a>
              </div>
              <!--<div class="">-->
              <!--<a ng-click="showMarker(16.072600,108.224754,item.imageSrc,item.name)" class="btn_1 btn_2">Xem Map</a>-->
              <!--</div>-->
            </div>
          </div>
        </div><!-- End row-->
      </div><!-- End strip_list-->

      <div class="strip_list wow fadeIn animated" ng-if="typeName == 'Mon an'" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;" ng-repeat="item in foods track by $index">
        <div class="ribbon_1">
          Đặt nhiều
        </div>
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a><img ng-src="{{item.imageSrc ||'/images/menu-thumb-5.jpg'}}" alt=""></a>
              </div>
                <div class="rating">
                  <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                  <!--(<small><a href="#0">98 reviews</a></small>)-->
                </div>
              <h3>{{item.name}}</h3>
              <div class="type" style="color: #6C3; font-size: 14px">{{item.category.type}}: {{item.category.name}}</div>
              <div class="location">
                {{item.type}}
              </div>
              <ul>
                <li>Số lần đặt: 10</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to" style="    text-align: center;">
              <div class="dropdown dropdown-options">
                <a class="dropdown-toggle" style="color: #b11116 !important" ng-click="addFood(item)"><i class="icon_plus_alt2" style="font-size: 26px"></i></a>
              </div>
              <div>
              <a  class="btn_1 btn_2">{{item.price}} VND</a>
              </div>
            </div>
          </div>
        </div><!-- End row-->
      </div>
      <a href="#0" class="load_more_bt wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Load more...</a>
    </div><!-- End col-md-9-->

  </div><!-- End row -->
</div>

