<section class="parallax-window" id="short" style="background: url(/images/sub_header_cart.jpg)">
  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <h1>QUY CHẾ HOẠT ĐỘNG
      </h1>
      <p>WEBSITE CUNG CẤP DỊCH VỤ TMĐT DFOOD.VN</p>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section>
<div class="container " style="background: white;margin-top: 60px;margin-bottom: 60px;
padding: 20px;max-width: 1000px">
  <img src="/images/quyche/quychedfood-01.jpg" alt="">
  <img src="/images/quyche/quychedfood-02.jpg" alt="">
  <img src="/images/quyche/quychedfood-03.jpg" alt="">
  <img src="/images/quyche/quychedfood-04.jpg" alt="">
  <img src="/images/quyche/quychedfood-05.jpg" alt="">
  <img src="/images/quyche/quychedfood-06.jpg" alt="">
  <img src="/images/quyche/quychedfood-07.jpg" alt="">
  <img src="/images/quyche/quychedfood-08.jpg" alt="">
  <img src="/images/quyche/quychedfood-09.jpg" alt="">
  <img src="/images/quyche/quychedfood-10.jpg" alt="">
  <img src="/images/quyche/quychedfood-11.jpg" alt="">
  <img src="/images/quyche/quychedfood-12.jpg" alt="">
  <img src="/images/quyche/quychedfood-13.jpg" alt="">
  <img src="/images/quyche/quychedfood-14.jpg" alt="">
  <img src="/images/quyche/quychedfood-15.jpg" alt="">
  <img src="/images/quyche/quychedfood-16.jpg" alt="">
  <img src="/images/quyche/quychedfood-17.jpg" alt="">
  <img src="/images/quyche/quychedfood-18.jpg" alt="">
  <img src="/images/quyche/quychedfood-19.jpg" alt="">
  <img src="/images/quyche/quychedfood-20.jpg" alt="">
</div>
