<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng
    <span style="margin-left: 15px;display: inline-block;">
      <!--<div class="form-group">-->
         <!--<select class="form-control" name="" id="" ng-model="ctrl.location" ng-change="ctrl.selectLocation(ctrl.location)">-->
        <!--<option value="Hue">Thành phố Huế</option>-->
        <!--<option value="Danang">Thành phố Đà Nẵng</option>-->
      <!--</select>-->
      <!--</div>-->

    </span>
    <!--<span class="pull-right btn-group">-->
      <!--<a ng-if="ctrl.roleUser == 'admin'" class="btn btn-xs btn-success" ui-sref="^.add()">-->
        <!--<i class="fa fa-plus"></i>-->
      <!--</a>-->
    <!--</span>-->
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="10%">Thời gian giao hàng</th>
        <th width="10%">Mã đơn hàng</th>
        <th width="15%">Tên món ăn</th>
        <th width="10%">Số lượng món ăn</th>
        <th width="15%">Nhân viên giao hàng</th>
        <th width="10%">SDT</th>
        <th width="10%">Giá trị đơn hàng</th>
        <th width="10%">Trạng thái</th>
        <th width="10%"></th>
      </tr>
      <tr ng-repeat="item in bookings track by $index">
        <td>{{item.timeDelivery}} - {{item.dateDelivery | date: 'dd/MM/yyyy'}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.id}}</td>
        <td>
          <p ng-repeat="food in item.foods">{{food.name}}</p>
        </td>
        <td>
          <p ng-repeat="food in item.foods">{{food.count}}</p>
        </td>
        <td>{{item.shipperName}}</td>
        <td>{{item.shipperPhoneNumber}}</td>
        <td>{{item.totalPrices}}</td>
        <td>{{item.status}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
            <a class="btn btn-xs btn-default" ng-click="cancelBooking($index)">
          <i class="fa fa-times"></i>
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>

</div>

