  <section class="parallax-window" id="short" style="background: url(/images/sub_header_cart.jpg)">
    <div id="subheader">
      <div id="sub_content" class="animated zoomIn">
        <h1>Về chúng tôi</h1>
        <p>Chúng tôi là một gia đình.</p>
        <p></p>
      </div><!-- End sub_content -->
    </div><!-- End subheader -->
  </section>

<div id="position">
  <div class="container">
    <ul>
      <li><a href="#0">Trang chủ ,  </a></li>
      <li><a href="#0">Về chúng tôi</a></li>
      <li>Thông tin</li>
    </ul>
  </div>
</div>
<div class="container margin_60_35">
  <div class="row">
    <div class="col-md-5"> <h3 class="nomargin_top">Chúng tôi là ai?</h3> <p> Dfood là trang website đặt hàng (thực phẩm) trực tuyến tiện lợi nhất, kết nối mọi người với các nhà hàng/ cửa hàng/ siêu thị thực phẩm ở các khu vực lân cận. </p> <h4>Sứ mệnh</h4> <p> Chúng tôi tin tưởng vào sự tiện lợi có thể giúp cho chúng ta thấy hạnh phúc hơn và tiết kiệm được nhiều thời gian cũng như là công sức để làm những việc thật sự có ý nghĩa. </p> <h4>Hợp tác</h4> <p> Dfood luôn sẵn sàng hợp tác với các nhà hàng, quán ăn, cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng. Hãy kết nối vào hệ thống đặt và giao hàng để tiết kiệm chi phí vận chuyển, marketing hay công nghệ... </p> <p> Liên hệ hợp tác: </p> <p> Email: aidinh0712@gmail.com </p> <p> Gửi SMS: 0906840601 </p> <p>Nếu bạn là sinh viên hoặc người có nhiều thời gian rãnh, bạn muốn kiếm thêm thu nhập cho bản thân và gia đình<br> Hãy đăng ký và tham gia vào mạng lưới của chúng tôi ngay hôm nay...</p> </div>
    <div class="col-md-6 col-md-offset-1 text-right hidden-sm">
      <iframe width="100%" height="340" style="padding-top: 30px" src="https://www.youtube.com/embed/v2D4qBdhwAs?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- End row -->
  <hr class="more_margin">
  <div class="main_title">
    <h2 class="nomargin_top">Tại sao lựa chọn sử dụng Dfood.vn </h2>
    <p>
      Dfood quan tâm đến chất lượng sản phẩm và trải nghiệm của người.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_building"></i>
        <h3><span>+ 1000</span> Nhà hàng, quán ăn, cafe</h3>
        <p>
          Mạng lưới nhà hàng, quán ăn, cafe .. chuyên nghiệp và rộng lớn, khách hàng sẽ có nhiều hơn sự lựa chọn tốt nhất cho mình
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_documents_alt"></i>
        <h3><span>+1000</span> Thực đơn</h3>
        <p>
          Mọi món ăn khách hàng yêu cầu sẽ được tìm thấy trong hệ thống thực đơn của Dfood với giá cả hợp lý và chất lượng đảm bảo
        </p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_bag_alt"></i>
        <h3><span>Giao hàng</span> nhanh</h3>
        <p>
          Theo như số liệu thực tế, thời gian dài nhất khách hàng phải chờ món ăn của mình là 20 phút. Quá  tuyệt vời.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_mobile"></i>
        <h3><span>Tối ưu </span>giao diện trên Mobile </h3>
        <p>
          Khách hàng sử dụng smart phone hay máy tính bảng sẽ hài lòng với những điều chỉnh về giao diện trên những thiết bị này.
        </p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_wallet"></i>
        <h3><span>Thanh toán</span> bằng thẻ</h3>
        <p>
          Khách hàng có thể thanh toán thông minh bằng thẻ nội địa hoặc thẻ tín dụng.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_creditcard"></i>
        <h3><span>Bảo mật </span>thông tin</h3>
        <p>
          Dfood sử dụng công nghệ bảo mật dữ liệu tiên tiến cho hệ thống thông tin khách hàng.
        </p>
      </div>
    </div>
  </div><!-- End row -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 nopadding features-intro-img">
      <div class="features-bg">
        <div class="features-img">
        </div>
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="features-content">
        <h3>"John Gunther"</h3>
        <p>
          "Mọi hạnh phúc trên đời đều xuất phát từ một bữa sáng nhàn nhã."
        </p>

      </div>
    </div>
  </div>
</div>
