<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng
    <span class="pull-right btn-group">
      <a class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Tên nhà hàng</th>
        <th>Mã nhà hàng</th>
        <th >Phân loại</th>
        <th >Địa chỉ nhà hàng</th>
        <th>Điều khiển</th>
      </tr>
      <tr ng-repeat="item in ctrl.categories track by $index">
        <td ui-sref="^.view({id: item.id})">{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>{{item.type}}</td>
        <td>{{item.address}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ui-sref="^.edit({ id: item.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="^.delete({ id: item.id })">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>
  <div class="panel-body">
    <div ng-show="!ctrl.categories.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        Chưa khởi tạo nhà hàng.
      </h4>

      <p class="list-group-item-text" translate>Bắt đầu<a href="" ui-sref="^.add"> tạo </a>ngay</p>
    </div>
  </div>

</div>


