<section admin-header class="content-header"
         title="{{ 'Nhà hàng' | translate}}"
         sub-title="{{ 'Quản lý danh sách nhà hàng!' | translate}}">
</section>
<section ui-view class="content"></section>
