<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    <span class="pull-right btn-group">
    <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.category.id})">
      <i class="fa fa-pencil"></i>
    </a>
  </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Đề mục</th>
            <th>Nội dung</th>
          </tr>
          <tr>
            <td>Mã nhà hàng:</td>
            <td>{{ctrl.category.id}}</td>
          </tr>
          <tr>
            <td>Tên nhà hàng:</td>
            <td>{{ctrl.category.name}}</td>
          </tr>
          <tr>
            <td>Ngày khởi tạo:</td>
            <td>{{ctrl.category.created | date: 'hh:mm dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td>Phân loại</td>
            <td>{{ctrl.category.type}}</td>
          </tr>
          <tr>
            <td>Địa chỉ</td>
            <td>{{ctrl.category.address}}</td>
          </tr>
          <tr>
            <td>Thời gian mở cửa</td>
            <td>{{ctrl.category.open | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Thời gian đóng cửa</td>
            <td>{{ctrl.category.close | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Khuyến mãi</td>
            <td>{{ctrl.category.promotion}}</td>
          </tr>
          <tr>
            <td>Hoa hồng</td>
            <td>{{ctrl.category.commission}}</td>
          </tr>
          <tr>
            <td>Số điện thoại liên lạc</td>
            <td>{{ctrl.category.phone}}</td>
          </tr>
          <tr>
            <td>Lịch sử đặt hàng</td>
            <td>

            </td>
          </tr>
          </tbody></table>
      </div>
      <div class="col-md-5">
        <img ng-if="ctrl.category.imageSrc" ng-src="{{ctrl.category.imageSrc || '/images/thumb-default.jpg'}}" alt="">
      </div>
    </div>
    </div>
  </div>
</div>
