hr.more_margin {
  margin-top: 60px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.feature {
  padding: 30px 30px 20px 120px;
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  color: #666;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}
.feature i {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0;
  margin: 0;
  width: 65px;
  height: 65px;
  line-height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px dashed #ccc;
  font-size: 34px;
  color: #6dcff6;
}
.feature h3 {
  margin-top: 0;
}
.feature h3 span,footer a,#sidebar a {
  color: #b11116;
}
.features-bg {
  position: relative;
  min-height: 400px;
  background: url(/images/features-intro-01.jpg) center center no-repeat;
  background-size: cover;
}
.features-img {
  width: 100%;
  height: 400px;
  line-height: 400px;
}
.features-content {
  position: relative;
  padding: 11% 100px 10%;
  height: 400px;
  background-color: #b11116;
  color: #fff;
  font-size: 16px;
}
.mapStyle{
  height: 400px;
  width: 100vw;
  transition: all 1s;
}

#map {
  width: 100%;
  height: 100%;
}
#map img {
  max-width: none!important;
}
.iw-img{
  width: 100%;
}
#iw-container {
  background: white;
  overflow: hidden;
}
.iw-title{
  padding-top: 10px;
  text-align: center;
  padding-bottom: -5px;
}
.iw-title p {
  margin-bottom: 10px!important;
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
  display: none;
}

