
header {
  padding-top: 15px;
  z-index: 99999;
}
.chromeframe, header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
header.sticky {
  background-color: #b11116;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,.41);
  -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,.41);
  box-shadow: 0 2px 10px -2px rgba(0,0,0,.41);
}
/* session 1 */
.margin_60 {
  padding-bottom: 60px;
}
.add_top_60, .margin_60, .margin_60_35 {
  padding-top: 60px;
}

.main_title {
  text-align: center;
  margin-bottom: 45px;
}

.main_title h2 {
  font-size: 46px;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 0;
}

.main_title p {
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  margin-bottom: 30px;
  font-weight: 300;
}

.box_home#one {
  background: url(/images/icon-home1.png) center 40px no-repeat #fff;
}
.box_home#two {
  background: url(/images/icon-home2.png) center 40px no-repeat #fff;
}
.box_home#three {
  background: url(/images/icon-home3.png) center 40px no-repeat #fff;
}
.box_home#four {
  background: url(/images/icon-home4.png) center 40px no-repeat #fff;
}
.box_home {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 120px 25px 25px;
  position: relative;
  font-size: 14px;
  color: #666;
  min-height: 235px;
}
#delivery_time, #hero_video, #hero_video>div, .box_home, .high_light a, .thumb_strip {
  text-align: center;
}

.box_home span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ededed;
  background-color: #fff;
  position: absolute;
  top: -20px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  left: 50%;
  margin-left: -20px;
}
.box_home h3{
  margin-top: 40px;
}
.box_home h3, .box_home span {
  font-size: 16px;
  font-weight: 700;
}

.box_home h3 {
  margin-bottom: 3px;
}
.box_home h3, .box_home span {
  font-size: 16px;
  font-weight: 700;
}

#delivery_time {
  width: 500px;
  margin: 25px auto auto;
}
#delivery_time strong span {
  background: url(/images/time_panel.svg) no-repeat;
  display: inline-block;
  width: 80px;
  margin-left: 10px;
  height: 120px;
  font-size: 72px;
  line-height: 120px;
  text-shadow: 1px 1px 2px rgba(255,255,255,1);
}
/* session 2*/
.white_bg, a.load_more_bt:hover {
  background-color: #fff;
}
a.strip_list {
  color: #555;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.strip_list {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  border: 1px solid #ededed;
  min-height: 176px;
  margin-bottom: 30px;
  line-height: 1.3;
  display: block;
}
a.strip_list:hover{
  transform:translate(0,-5px);
  -webkit-transform:translate(0,-5px);
  -ms-transform:translate(0,-5px);
  -webkit-box-shadow:0 2px 0 0 #ebedef;
  -moz-box-shadow:0 2px 0 0 #ebedef;
  box-shadow:0 2px 0 0 #ebedef}
.ribbon_1 {
  position: absolute;
  text-indent: -9999px;
  top: -5px;
  left: -5px;
  background: url(/images/ribbon_popular.png) no-repeat;
  width: 81px;
  height: 80px;
  z-index: 3;
}

.desc {
  padding-left: 135px;
  position: relative;
}

.thumb_strip {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 110px;
  border: 1px solid #ededed;
  padding: 5px;
}

#sub_content #thumb, .thumb_strip {
  box-sizing: border-box;
  overflow: hidden;
}

.thumb_strip img {
  width: 98px;
  height: auto;
}
.desc .rating {
  color: #ccc;
  padding-top: 0;
}
.rating {
  color: #fff;
  padding-top: 10px;
}

.rating .voted {
  color: #FC0;
  margin-right: 3px;
}

.desc h3 {
  margin: 0;
  padding: 0;
}

.desc .type {
  font-size: 12px;
  font-style: italic;
  color: #777;
  margin-bottom: 12px;
  margin-top: 5px;
}

.desc .opening {
  color: #C33;
  line-height: 20px;
}

.desc ul {
  margin: 3px 0 0;
  padding: 0;
}

.desc ul li {
  display: inline-block;
  margin-right: 15px;
}

.desc ul li i.ok {
  color: #6C3;
}
.desc ul li i.no, .desc ul li i.ok {
  position: relative;
  top: 2px;
  left: 5px;
  font-size: 14px;
}

/* header */
#logo img{
  height: 40px;
  margin-top: -10px;
  width: auto;
}

.menu-mobile{
  position: absolute;
  top: 60px;
  background: white;
  width: 0 !important;
  left: 0;
  padding-left: 0 !important;
  transition: 0.3s all ;
}
.menu-mobile li {
  font-weight: 500;
  opacity: 0;
  display: block;
}
.show-menu{
  width: 300px !important;
  padding-left: 30px !important;
}
.show-menu li {
  opacity: 1;
}
.badge-item, .global-nav li a, .global-nav li span {
  display: inline-block;
}
.global-nav li span i {
  font-size: 21px;

}
/* session1 */
.total-cart{
  background: rgb(244, 67, 54);
  padding-left: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 11px;
  position: absolute;
  top: 13px;
  margin-left: 16px;
  color: white;
  font-weight: 700;
}

.header-video {
  position: relative;
  overflow: hidden;
  background: #000;
}
#hero_video {
  position: relative;
  background-size: cover;
  width: 100%;
  font-size: 16px;
  display: table;
  height: 100%;
}
#count, #hero_video {
  color: #fff;
  z-index: 99;
}
#hero_video>div {
  display: table-cell;
  padding: 0 10%;
}
#hero_video>div, #sub_content, .parallax-content-2>div, .strip_list .go_to div, .table.cart-list td {
  vertical-align: middle;
}
#sub_content {
  display: table-cell;
  padding: 0 15%;
  font-size: 16px;
}
#hero_video>div h1 {
  margin-top: -60px;
}
#sub_content h1 {
  margin: 0 0 10px;
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
#custom-search-input {
  top: 10px;
  padding: 0;
  width: 650px;
  margin: auto;
  position: relative;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
#custom-search-input .search-query {
  width: 650px;
  padding: 15px 30px;
  border: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.75);
  -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.75);
  box-shadow: 0 0 50px 0 rgba(0,0,0,.75);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  color: #444;
}
#custom-search-input input.btn_search {
  position: absolute;
  right: 20px;
  top: 13px;
  border: 0;
  width: 25px;
  height: 25px;
  background: url(/images/search.svg) center right no-repeat;
  cursor: pointer;
}
#count {
  background-color: rgba(0,0,0,.25);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  font-size: 18px;
  border-top: 1px solid rgba(255,255,255,.15);
}
#count, #hero_video {
  color: #fff;
  z-index: 99;
}

#count ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

#count ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  background: 0 0;
}
#count ul li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  padding-left: 20px;
  background: url(/images/dots_vert.png) center left no-repeat;
}

#count .number {
  width: auto;
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
  text-align: right;
  font-size: 24px;
}

.header-video--media, .teaser-video {
  width: 100%;
  height: auto;
}
video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  width: 100%;
}
/* work with us */
a.box_work {
  background-color: #fff;
  padding: 30px;
  font-size: 14px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 3px 0 0 #f0f2f4;
  -moz-box-shadow: 0 3px 0 0 #f0f2f4;
  box-shadow: 0 3px 0 0 #f0f2f4;
  color: #666;
  margin-bottom: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
a.box_work h3 {
  font-size: 24px;
}
a.box_work h3 span {
  display: block;
  font-size: 18px;
  margin-top: 3px;
  color: #999;
  font-weight: 300;
}
a.box_work .btn_1 {
  margin-top: 30px;
}
.btn_1, a.btn_1 {
  border: none;
  background: #b11116;
  padding: 10px 20px;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  display: inline-block;
}
.btn_2{
  background: white;
  border: 1px solid #b11116;
}
.btn_1, .btn_full, a.btn_1, a.btn_full {
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  outline: 0;
  font-size: 12px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  text-transform: uppercase;
  text-align: center;
}
/* high light */
.high_light {
  padding: 60px 0;
  background: #b11116;
  color: #fff;
  font-size: 16px;
}
.high_light>div {
  position: relative;
}
.high_light h3 {
  color: #fff;
  font-weight: 300;
  font-size: 42px;
  margin: 0;
  padding: 0;
}
.high_light h3, h1, h2, h3.slide_typo {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.high_light p {
  margin-bottom: 0;
}

.high_light a {
  font-family: inherit;
  color: #fff;
  background: 0 0;
  border: 2px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  display: inline-block;
  margin-top: 15px;
  position: absolute;
  right: 15px;
  top: 0;
}

.btn_full_outline, .high_light a, a.btn_full_outline {
  -moz-transition: all .3s;
  cursor: pointer;
  -webkit-transition: all .3s;
  outline: 0;
}
.parallax-window {
  min-height: 470px;
  background: 0 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax-content {
  color: #fff;
  display: table;
  width: 100%;
  height: 470px;
}

.parallax-content .sub_content {
  display: table-cell;
  padding: 0 15%;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}

.parallax-content .sub_content h3, .parallax-content .sub_content i {
  font-size: 60px;
}

.parallax-content .sub_content h3, .parallax-content-2 div h3 {
  margin: 0 0 10px;
  font-weight: 300;
  color: #fff;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.high_light a:hover{
  background:#333;
  color:#fff;
  border:2px solid #333
}
a.box_work:hover {
  transform: translate(0,-10px);
  -webkit-transform: translate(0,-10px);
  -ms-transform: translate(0,-10px);
  -webkit-box-shadow: 0 3px 0 0 #ebedef;
  -moz-box-shadow: 0 3px 0 0 #ebedef;
  box-shadow: 0 3px 0 0 #ebedef;
}
/* detail */

#subheader {
  color: #fff;
  text-align: center;
  display: table;
  width: 100%;
  height: 470px;
  background: rgba(0,0,0,.7);
}
#sub_content {
  display: table-cell;
  padding: 0 15%;
  font-size: 16px;
}
#sub_content #thumb {
  width: 130px;
  height: 130px;
  padding-top: 5px;
  margin: auto auto 15px;
  background-color: #fff;
}
#sub_content #thumb img {
  width: 120px;
  height: auto;
}
.rating {
  color: #fff;
  padding-top: 10px;
}
#subheader a {
  color: #FF9;
}
#sub_content h1 {
  margin: 0 0 10px;
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
#position {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  padding: 12px 0;
  font-size: 13px;
}
#position ul {
  display: inline-block;
}
#position ul {
  margin: 0;
  padding: 0;
  color: #888;
}
#position ul li {
  display: inline-block;
  padding-right: 8px;
  margin-right: 3px;
  position: relative;
}

#position ul li:after, #position ul li:first-child:before {
  font-style: normal;
  font-weight: 400;
  font-family: fontello;
  position: absolute;
  top: 1px;
}
#position ul li a {
  color: #252525;
  opacity: .7;
}
a.search-overlay-menu-btn {
  display: inline-block;
  padding: 0 0 0 10px;
  color: #999;
  font-size: 13px;
  border-left: 1px solid #ddd;
}
.margin_60_35 {
  padding-bottom: 35px;
}

.box_style_1 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 30px;
}
#cart_box, .box_style_1, .box_style_2 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#cart_box .btn_full{
  color: white!important;
}
ul#cat_nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#cat_nav li {
  border-bottom: 1px solid #ededed;
}


ul#cat_nav li:first-child a.active, ul#cat_nav li:first-child a:hover {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
ul#cat_nav li a.active, ul#cat_nav li a:hover {
  background: #f9f9f9;
  color: #111;
}
ul#cat_nav li a {
  position: relative;
  color: #555;
  display: block;
  padding: 15px 10px;
}

#confirm, #pass-info, #sub_content, #sub_content #thumb, .box_style_2#help, .feature i, .features-img, .marker_info, .modal-popup, .parallax-content, .parallax-content-2>div, .sk-spinner-wave.sk-spinner, .strip_list.grid .desc, .tooltip-content, a.bt_filters, a.load_more_bt {
  text-align: center;
}
#cart_box, .box_style_2 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 25px;
}
.box_style_2#help i {
  font-size: 52px;
  display: inline-block;
  color: #999;
}
.box_style_2#help a.phone {
  font-size: 26px;
  display: block;
  margin-bottom: 0;
  color: #b11116;
}
.box_style_2#main_menu, .box_style_2.info {
  padding-bottom: 10px;
}
#cart_box, .box_style_2 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 25px;
}
#cart_box, .box_style_1, .box_style_2 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.box_style_2 h2.inner {
  background-color: #b11116;
  color: #fff;
  margin: -25px -25px 25px;
  padding: 12px 15px;
  font-size: 22px;
  font-weight: 600;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.box_style_2 h2.inner, h3 .slide_typo strong {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main_menu h3 {
  font-size: 20px;
}
.features-content h3, .high_light a, .marker_info h3, .tooltip-content h4 {
  text-transform: uppercase;
}

.table.cart-list {
  margin-bottom: 0;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
#hero_video>div, #sub_content, .parallax-content-2>div, .strip_list .go_to div, .table.cart-list td {
  vertical-align: middle;
}
.thumb_menu_list {
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.thumb_menu_list img {
  width: 60px;
  height: auto;
}
.options i {
  font-size: 26px;
}
.options-cart i {
  font-size: 17px!important;
}

.dropdown-options .dropdown-menu {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 20px 10px;
  top: 100%;
  width: 200px;
  font-size: 12px;
  font-weight: 400;
  text-shadow: none;
  text-transform: none!important;
  border-top: 2px solid #b11116;
  margin-left: -86px;
  margin-top: 10px;
}
.table.cart-list td h5 {
  margin-bottom: 0;
  font-weight: 600;
}
.dropdown-options .dropdown-menu h5 {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  margin-bottom: 5px!important;
  font-size: 13px;
}

.dropdown-options .dropdown-menu label {
  font-weight: 500;
  color: #555!important;
  width: 100%;
}

.dropdown-options .dropdown-menu label input {
  margin-right: 5px;
}


.dropdown-options .dropdown-menu label span {
  float: right!important;
  display: inline-block;
  text-align: right;
}

.dropdown-options .dropdown-menu a.add_to_basket {
  background-color: #f8f8f8;
  border-radius: 3px;
  display: block;
  font-weight: 500;
  text-align: center;
  padding: 5px 10px;
  margin-top: 15px;
  color: #b11116;
}


#cart_box {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 15px;
}
#cart_box, .box_style_2 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 25px;
}
#cart_box, .box_style_1, .box_style_2 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#cart_box h3 {
  background: #f8f8f8;
  margin: -15px -15px 15px;
  padding: 15px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 18px;
}

#cart_box h3, .box_style_2 h2.inner {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.row#options_2 {
  margin-bottom: -10px;
  margin-top: -5px;
}
.iradio_square-grey .icheck{
  margin-right: 5px;
}
.feature h3 span {
  color: #b11116;
}
#main_menu .options a {
  color: #b11116 !important;
}
#cart_box .btn_full:hover, #cart_box a.btn_full:hover {
  background: #333;
}
#cart_box .btn_full, #cart_box a.btn_full {
  background: #b11116;
  font-size: 15px;
}
.btn_full:hover, a.btn_full:hover {
  background: #333;
}
.btn_full, a.btn_full {
  border: none;
  width: 100%;
  background: #b11116;
  padding: 12px 20px;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
a.btn_side {
  border: none;
  background: #555;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn_full_outline, .button_intro, a.btn_full_outline, a.btn_map, a.btn_side, a.button_intro {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.btn_full_outline, a.btn_full_outline, a.btn_map, a.btn_side {
  font-family: inherit;
  padding: 10px 20px;
  font-size: 12px;
  display: block;
}
a.btn_map, a.btn_side {
  cursor: pointer;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  margin-bottom: 25px;
  color: #fff;
}
/* list Restaurant */

#filters_col {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ededed;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 25px;
}
a#filters_col_bt {
  display: block;
  color: #444;
  font-weight: 600;
}
a.btn_map {
  border: none;
  background: #555;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.collapse.in {
  display: block;
}
.filter_type h6 {
  border-top: 1px solid #ddd;
  margin: 15px 0;
  padding: 15px 0 0;
}
.filter_type ul {
  padding: 0;
  margin: 0 0 15px;
}
#filters_col label {
  font-weight: 400;
}
.filter_type ul li .color_1 {
  background-color: #7dccc7;
}

#filters_col label {
  font-weight: 400;
}
.filter_type ul li .rating {
  font-size: 16px;
  left: -7px;
  position: relative;
  top: 3px;
  color: #ccc;
}
#tools {
  background: #fff;
  margin-bottom: 25px;
  height: 38px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
}

#tools .styled-select {
  width: 100%;
  overflow: hidden;
  height: 36px;
  background: url(/images/arrow_down.svg) right center no-repeat;
  border: none;
  border-right: 1px solid #ededed;
}
#tools .styled-select select {
  background: 0 0!important;
  width: 115%;
  padding: 7px 5px 5px 15px;
  border: 0!important;
  border-radius: 0;
  height: 31px;
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  color: #444;
  box-shadow: none;
}

.rating a {
  color: #b11116;
}
.strip_list .go_to {
  display: table;
  height: 112px;
  text-align: right;
  width: 100%;
}
.strip_list .go_to div {
  display: table-row;
}
.strip_list .go_to div  a{
  width: 110px;
}
a.btn_2 {
  background: white;
  color: #b11116;
  border: 1px solid;
}
a.load_more_bt {
  display: block;
  padding: 10px;
  border: 3px solid #fff;
  color: #555;
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.load_more_bt:hover{
  color: #b11116;
}
.btn_1:hover,a.btn_1:hover{background:#333}

/* Booking page */
.parallax-window#short {
  height: 350px;
  min-height: inherit;
}
#short #subheader {
  height: 350px;
}
#sub_content {
  display: table-cell;
  padding: 0 15%;
  font-size: 16px;
}
#sub_content h1 {
  margin: 0 0 10px;
  font-size: 48px;
  color: #fff;
}
.bs-wizard {
  width: 90%;
  margin: auto;
}
.bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}
.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0;
  height: 8px;
  box-shadow: none;
  margin: 23px 0;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
  width: 0;
}
.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
  width: 50%;
}
.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0;
  box-shadow: none;
  background: #fbe8aa;
}

#subheader a {
  color: #FF9;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -11px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #e04f67;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot, .marker_info:after {
  pointer-events: none;
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #f5f5f5;
}
.box_style_2#main_menu, .box_style_2.info {
  padding-bottom: 10px;
}
#cart_box, .box_style_2 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 25px;
}

#cart_box, .box_style_1, .box_style_2 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.nomargin_top {
  margin-top: 0;
}
#cart_box, .box_style_2 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
  margin-bottom: 25px;
  padding: 25px;
}
.box_style_2 h2.inner {
  background-color: #b11116;
  color: #fff;
  margin: -25px -25px 25px;
  padding: 12px 15px;
  font-size: 22px;
  font-weight: 600;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.box_style_2 h2.inner, h3 .slide_typo strong {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  color: #333;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0;
}

#cart_box a.btn_full_outline {
  color: #b11116;
  background: 0 0;
  border: 2px solid #b11116;
}
.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}
.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}
.payment_select#paypal {
  background: url(/images/paypal.svg) center right no-repeat #f0f0f0;
}
.payment_select {
  background-color: #f0f0f0;
  padding: 15px 15px 10px;
  margin-bottom: 20px;
}
.panel, .panel-group .panel, .payment_select {
  border-radius: 3px;
}
.payment_select i {
  float: right;
  font-size: 24px;
}
.payment_select label {
  font-size: 16px;
}
#confirm {
  margin-bottom: 25px;
}
#confirm i {
  font-size: 140px;
  color: #b11116;
  display: inline-block;
}
.table td.total_confirm {
  background-color: #333!important;
  color: #fff;
}
.table td.total_confirm, .table.table_summary td.total {
  font-weight: 700;
  font-size: 16px;
}
.feature_2 i, .plan, .plan-features, .plan-price, .plan-tall>.plan-price, a.box_work {
  text-align: center;
}
a.bt_filters {
  height: 36px;
  width: 36px;
  color: #555;
  line-height: 36px;
  float: right;
  font-size: 16px;
  border-left: 1px solid #ededed;
}
/* submit restaurant plans */
.plans {
  margin: 0 auto 50px;
  zoom: 1;
}
.col-md-4.plan:first-child {
  margin-right: -30px;
  margin-left: 30px;
}
.plan {
  margin: 10px 0;
  padding: 20px;
  background: #fff;
  background-clip: padding-box;
  border: solid #ddd;
  min-height: 380px;
  border-width: 1px 0 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 18px;
  color: #555;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
}

.plan-price {
  margin: 0 auto 20px;
  width: 110px;
  height: 110px;
  line-height: 110px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: #4b4b4b;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: inline-block;
  font-family: "Helvetica Neue",Arial;
}
.plan-price>span {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255,255,255,.9);
}
ul.plan-features {
  padding: 0;
  margin: 0 0 15px;
}
.plan-features {
  margin-bottom: 20px;
  line-height: 2;
  font-size: 12px;
}
#count ul, #rating_summary ul, .desc ul, .filter_type ul, .main-menu-2 ul, .plan-features li, footer ul, ul.additional_links, ul.list_ok, ul.opening_list {
  list-style: none;
}
.plan-tall {
  margin: 0 -30px 0 0;
  background: #fff;
  border-radius: 10px;
  z-index: 100;
  border: solid #83c99f;
  position: relative;
}
.ribbon_table {
  width: 99px;
  height: 97px;
  position: absolute;
  left: -7px;
  top: -7px;
  display: block;
  background: url(/images/ribbon.png) no-repeat;
  z-index: 101;
}
.plan-tall>.plan-price {
  margin: 0 auto 20px;
  height: 130px;
  width: 130px;
  line-height: 130px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  background: #ec008c;
  border-radius: 130px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  display: inline-block;
}
.plan-tall>.plan-title {
  font-size: 18px;
}
.plan-tall>.plan-features {
  font-size: 14px;
}
#pass-info {
  width: 100%;
  margin-bottom: 15px;
  color: #829CBD;
  font: 12px/25px Arial,Helvetica,sans-serif;
}
.btn_full_outline, a.btn_full_outline {
  color: #85c99d;
  background: 0 0;
  width: 100%;
  border: 2px solid #85c99d;
  transition: all .3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.feature_2 {
  padding: 30px 30px 20px 100px;
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  color: #666;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}
.feature_2 i {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
  margin: 0;
  width: 65px;
  height: 65px;
  line-height: 60px;
  font-size: 38px;
  color: #6dcff6;
}
.feature_2 h3 {
  margin-top: 0;
  font-size: 21px;
}
.features-bg.img_2 {
  position: relative;
  min-height: 400px;
  background: url(/images/delivery_2.jpg) center center no-repeat;
  background-size: cover;
}
.nopadding {
  padding: 0!important;
}
.nomargin, .nopadding {
  margin: 0!important;
}
ul.list_ok {
  margin: 0 0 20px;
  padding: 0;
  line-height: 22px;
}
ul.list_ok li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}
ul.list_ok li:before {
  font-style: normal;
  font-weight: 700;
  font-family: ElegantIcons;
  font-size: 18px;
  content: "\e052";
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
label.margin_left {
  margin-left: 15px!important;
}
.search-list{
  width: 92%;
  background: rgba(51, 51, 51, 0.6);
  text-align: left;
  padding: 10px;
  margin: auto;
  margin-top: 2px;
  max-height: 190px;
  overflow: auto;
  display: block;
}
.search-item{
  cursor: pointer
}
.search-item:hover{
  color: #b11116;
}
#gmaps {
  width: 100%;
  height: 450px;
}


.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}




