.cart-2015 .cart-page {
  min-height: 500px;
  width: 100%;
}
.cart-2015 * {
  font-size: 14px;
  line-height: 18px;
}
.cart-2015 .txt-size-normal {
  font-size: 14px;
  line-height: 18px;
}
.pbm, .pvm {
  padding-bottom: 10px;
}
.mbm, .mvm {
  margin-bottom: 10px;
}
.cart-2015 .border-grey-bottom {
  border-bottom: 1px solid #e3e3e3;
}
.ptl, .pvl {
  padding-top: 20px;
}
.cart-page .producttable:last-child {
  margin-bottom: 0;
}
.cart-title h5{
  margin-top: 0;
  font-weight: 700;
}
.cart-page .producttable {
  background-color: #f8f8f8;
  margin-bottom: 10px;
}
.cart-page #tableheader {
  background-color: #fff;
}
.ch-container #tableheader tr {
  font-size: 12px;
  font-weight: 700;
  border-bottom: 3px solid #e9e9e9;
  color: #333;
  line-height: 200%;
}
.cart-page #tableheader tr {
  border-bottom: none!important;
}
.cart-page #tableheader td {
  color: #646464!important;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
}
.cart-2015 .txt-large {
  font-size: 18px;
}
.cart-2015 .txt-black {
  color: #292929;
}
.ch-container .width_100 {
  width: 100%;
}
.cart-2015 .cart-page .producttable td {
  padding: 14px 10px;
}
.width_20 {
  width: 15%;
}
.width_40 {
  width: 43.5%;
}
.width_20 {
  width: 15%;
}
.size1of5 {
  width: 20%;
}
.producttable td {
  vertical-align: top;
}
.summary-header {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  margin-top: 0;
}
.cart-2015 .border-grey-top {
  border-top: 1px solid #e3e3e3;
}
.txt-large {
  font-size: 18px;
}
.txt-bold {
  font-weight: 700;
}
.summary-main{
  padding-bottom: 30px;
  padding-top: 15px;
}
.summary-control{
  display: table;
  width: 100%;
}
.summary-total{
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-checkout {
  line-height: 30px;
  height: 30px;
  color: #fff!important;
  background: #f37021;
  border-radius: 0;
  display: table-cell;
  width: 100%;
}
.btn-checkout-text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}
.cart-2015 .cart-page .producttable td a>img {
  min-height: 117px;
  min-width: 117px;
}
.cart-product-list .stock{
  margin-bottom: 30px;
 }
.productlink a.cart-product-actions-link{
  cursor: pointer;
  font-size: 12px;
}
.productlink a i {
  margin-right: 5px;
}
.productlink a:hover i{
  color: #cf1836;
}
