body {
  overflow: visible;
  font-size: 13px;
  line-height: 1.4;
  color: #555;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a:hover{
  cursor: pointer;
}
.full-height {
    height: 100%;
}
.small-box{
  cursor: pointer;
}
.ui-view-container {
  position: relative;
}
footer {
  background-color: #fff;
  padding: 35px 0;
}
#social_footer, footer {
  border-top: 1px solid #ededed;
}
#social_footer {
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}
#social_footer ul {
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}
#social_footer ul li {
  display: inline-block;
  margin: 0 5px 10px;
}
#social_footer ul li a {
  color: #666;
  text-align: center;
  line-height: 34px;
  display: block;
  font-size: 16px;
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
footer h3 {
  font-size: 16px;
  font-weight: 600;
}
footer .form-group {
  margin-bottom: 15px;
}
.form-control {
  color: #333;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0;
}

footer .btn_1 {
  text-transform: none;
  padding: 8px 15px;
  background: #555;
}
footer a {
  color: #555;
}
footer .styled-select {
  width: 100%;
  overflow: hidden;
  height: 40px;
  background: url(/images/arrow_down.svg) right center no-repeat #f8f8f8;
  border: none;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

footer .styled-select select {
  background: 0 0;
  width: 115%;
  padding: 7px 5px 5px 15px;
  border: 0;
  border-radius: 0;
  height: 37px;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  color: #444;
  box-shadow: none;
}
footer ul {
  margin: 0;
  padding: 0 0 20px;
}
#count ul, #rating_summary ul, .desc ul, .filter_type ul, .main-menu-2 ul, .plan-features li, footer ul, ul.additional_links, ul.list_ok, ul.opening_list {
  list-style: none;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  /*-webkit-transform:scale3d(0.5, 0.5, 0.5);*/
  /*-moz-transform:scale3d(0.5, 0.5, 0.5);*/
  /*transform:scale3d(0.5, 0.5, 0.5);*/
}

[ui-view].ng-enter-active {
  opacity: 1;
  /*-webkit-transform:scale3d(1, 1, 1);*/
  /*-moz-transform:scale3d(1, 1, 1);*/
  /*transform:scale3d(1, 1, 1);*/
}

[ui-view].ng-leave {
  opacity: 1;
  /*-webkit-transform:translate3d(0, 0, 0);*/
  /*-moz-transform:translate3d(0, 0, 0);*/
  /*transform:translate3d(0, 0, 0);*/
}

[ui-view].ng-leave-active {
  opacity: 0;
  display: none;
  /*-webkit-transform:translate3d(100px, 0, 0);*/
  /*-moz-transform:translate3d(100px, 0, 0);*/
  /*transform:translate3d(100px, 0, 0);*/
}
.nav-tabs > li > a, .nav-tabs > li > a:hover {
  cursor: pointer;
}

