  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <div id="thumb"><img ng-src="{{restaurant.imageSrc}}" alt=""></div>
      <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Xem {{restaurant.review || '0'}} reviews</a></small>)</div>-->
      <h1>{{restaurant.name}}</h1>
      <div><em>{{restaurant.desciption}}</em></div>
      <div><i class="icon_pin"></i> {{restaurant.address}} </div>
      <!--<strong>Delivery charge:</strong> $10, free over $15.-->
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
