<div id="position">
  <div class="container">
    <ul>
      <li><a ui-sref="index.home">Trang chủ </a></li>
      <li><a ui-sref="index.listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <!--<a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>-->
  </div>
</div>
<div class="container margin_60_35" style="transform: none;">
  <div class="row" style="transform: none;">
    <div class="col-md-3">
      <p><a ui-sref="index.listRestaurants" class="btn_side">Quay lại tìm kiếm</a></p>
      <div class="box_style_1">
        <ul id="cat_nav">
          <li ng-repeat="item in ['Đồ ngọt','Đồ chay','Đồ mặn','Nguyên liệu']"><a class="active">{{item}}</a></li>
        </ul>
      </div><!-- End box_style_1 -->

      <div class="box_style_2 hidden-xs" id="help">
        <i class="icon_lifesaver"></i>
        <h4>Hỗ trợ</h4>
        <a href="tel://+84906840601" class="phone">+84906840601</a>
        <small>Thứ 2 đến thứ 7 từ 9:00am - 7.30pm</small>
      </div>
    </div><!-- End col-md-3 -->
    <div class="col-md-6">
      <div class="box_style_2" id="main_menu">
        <h2 class="inner">Danh sách</h2>
       <div>
         <!--<h3 class="nomargin_top" id="starters" >{{items.type}}</h3>-->
         <table class="table table-striped cart-list"  >
           <thead>
           <tr>
             <th width="60%">
               Món ăn
             </th>
             <th>
               Đơn giá
             </th>
             <th>
               Đặt món
             </th>
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="item in restaurant.products">
             <td>
               <figure class="thumb_menu_list"><img ng-src="{{item.imageSrc || '/images/menu-thumb-5.jpg'}}" alt="thumb"></figure>
               <h3>{{$index+1}}. {{item.name}}</h3>
               <p>
                 {{item.introduce}}
               </p>
               <p>
                 Số lần đặt: 10
               </p>
             </td>
             <td>
               <strong> {{item.price |  number:0}} VND</strong>
             </td>
             <td class="options">
               <div class="dropdown dropdown-options">
                 <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" ng-click="addFood(item,restaurant)"><i class="icon_plus_alt2"></i></a>
               </div>
             </td>
           </tr>
           </tbody>
         </table>
         <hr>
       </div>

      </div><!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
        <div id="cart_box">
          <h3>Giỏ hàng<i class="icon_cart_alt pull-right"></i></h3>
          <table class="table table_summary">
            <tbody>
            <tr ng-repeat="item in foodCart">
              <td>
                <a class="remove_item" ng-click="addFood(item)"><i class="icon_plus_alt"></i></a>
                <a class="remove_item" ng-click="removeFood($index)"><i class="icon_minus_alt"></i></a>
                <strong>{{item.count}}x</strong> {{item.name}}
              </td>
              <td>
                <strong class="pull-right"> {{item.price}} VND </strong>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <div class="row" id="options_2">
            <div class="col-md-12">
                <label class=""><div class="iradio_square-grey" ng-class="deliveryOption == 'van chuyen' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('van chuyen')" name="option_2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"  style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Vận chuyển</label>
                <label class=""><div class="iradio_square-grey" ng-class="deliveryOption == 'lay truc tiep' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('lay truc tiep')" name="option_3" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Lấy trực tiếp</label>
            </div>
          </div><!-- Edn options 2 -->

          <hr>
          <table class="table table_summary">
            <tbody>
            <tr>
              <td>
                Cộng <span class="pull-right"> {{totalPrices |  number:0}} VND</span>
              </td>
            </tr>
            <tr>
              <td>
                Phí dịch vụ <span class="pull-right"> {{totalService || 0}} VND</span>
              </td>
            </tr>
            <tr>
              <td>
                Phí vận chuyển <span class="pull-right"> {{totalDelivery || 0 }} VND</span>
              </td>
            </tr>
            <tr>
              <td class="total">
                Tạm tính <span class="pull-right"> {{totalPrices |  number:0 }} VND</span>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <a class="btn_full" ng-click="bookingNow()">Đặt hàng ngay</a>
        </div><!-- End cart_box -->
      </div><!-- End theiaStickySidebar -->
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div>
