<header ui-view="detail_header" class="headerStyle"></header>
<section class="parallax-window" ui-view="detail_info" style="background: url(/images/booking-bg.png)"></section>
<section class="" ui-view="detail_main"></section>
<footer class="" ui-view="detail_footer"></footer>

