<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách món ăn
    <span class="pull-right btn-group">
      <a class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="15%">Tên nhà hàng</th>
        <th width="15%">Tên món ăn</th>
        <th width="15%">Phân loại</th>
        <th width="15%">Giá cả (VND)</th>
        <th >Đơn vị</th>
        <th width="15%">Thời gian chuẩn bị</th>
        <th width="15%">Điều chỉnh</th>
      </tr>
      <tr ng-repeat="item in ctrl.foods">
        <td>{{item.category.name}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.name}}</td>
        <td>
          {{item.type}}
        </td>
        <td>
          {{item.price}}
        </td>
        <td>
          {{item.unit}}
        </td>
        <td>{{item.timeProcess | date: 'hh:mm'}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ui-sref="^.edit({ id: item.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="^.delete({ id: item.id })">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>
  <div class="panel-body" ng-show="!ctrl.foods.length">
    <h4 class="list-group-item-heading" translate>
      There are no foods in this restaurant!
    </h4>
    <p class="list-group-item-text" translate>
      Click <a href="" ui-sref="^.add()">here</a> to add one!
    </p>
  </div>
</div>
