<section admin-header class="content-header"
         title="{{ 'Food' | translate }}"
         sub-title="{{ 'Manage your foods here!' | translate }}">
</section>
<section ui-view class="content"></section>
