<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    Chi tiết đơn hàng
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Đề mục</th>
            <th>Nội dung</th>
          </tr>
          <tr>
            <td>Tên món ăn</td>
            <td>{{ctrl.food.name}}</td>
          </tr>
          <tr>
            <td>Phân loại</td>
            <td>{{ctrl.food.type}}</td>
          </tr>
          <tr>
            <td>Giá thành</td>
            <td>{{ctrl.food.price}} VND</td>
          </tr>
          <tr>
            <td>Thời gian chế biến</td>
            <td>{{ctrl.food.timeProcess | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Lịch sử đặt hàng</td>
            <td></td>
          </tr>
          </tbody></table>
      </div>
      <div class="col-md-5">
        <img ng-src="{{ctrl.food.imageSrc || '/images/thumb-default.jpg'}}" alt="">
      </div>
    </div>
  </div>
</div>
