<div id="position">
  <div class="container">
    <ul>
      <li><a ui-sref="index.home">Trang chủ </a></li>
      <li><a ui-sref="index.listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <!--<a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>-->
  </div>
</div>
<div class="container margin_60_35" style="transform: none;">
  <div class="row" style="transform: none;">
    <div class="col-md-9">
      <div class="box_style_2" id="main_menu">
        <h2 class="inner">Giỏ hàng</h2>
       <div>
         <!--<h3 class="nomargin_top" id="starters" >{{items.type}}</h3>-->
         <table class="table table-striped cart-list"  >
           <thead>
           <tr>
             <th width="60%">
               Món ăn
             </th>
             <th>
               Giá
             </th>
             <th>
               Số lượng
             </th>
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="item in foods">
             <td>
               <figure class="thumb_menu_list"><img ng-src="{{item.imageSrc || '/images/menu-thumb-5.jpg'}}" alt="thumb"></figure>
               <h3>{{$index+1}}. {{item.name}}</h3>
             </td>
             <td>
               <strong> {{item.price  |  number:0}} VND</strong>
             </td>
             <td class="options options-cart">
               <div class="dropdown dropdown-options">

                 <a href="" style="padding: 5px; font-size: 16px"> {{item.count}}</a>
                 <a class="remove_item" ng-click="addFood(item)"><i class="icon_plus_alt"></i></a>
               <a class="remove_item" ng-click="removeFood($index)"><i class="icon_minus_alt"></i></a>

               </div>
             </td>
           </tr>
           </tbody>
         </table>
         <hr>
       </div>

      </div><!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
          <div id="cart_box">
            <h3>Thông tin đơn hàng<i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
              <tbody>
              <tr>
                <td>
                  Tạm tính <span class="pull-right"> {{cachePrices  |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td class="total">
                  Tổng tiền <span class="pull-right"> {{cachePrices  |  number:0 }} VND</span>
                </td>
              </tr>
              </tbody>
            </table>
            <a class="btn_full" ng-click="moveBookingFood()">Tiến hành đặt hàng</a>
          </div><!-- End cart_box -->
        </div><!-- End theiaStickySidebar -->
      </div><!-- End theiaStickySidebar -->
    </div>
  </div><!-- End row -->
</div>
