<header ui-view="foodCarts_header" class="headerStyle"></header>
<section class="parallax-window" ui-view="foodCarts_info" style="background: url(/images/booking-bg.png)"></section>
<section class="" ui-view="foodCarts_main"></section>
<footer class="" ui-view="foodCarts_footer"></footer>

