<div id="position">
  <div class="container">
    <ul>
      <li><a href="/">Trang chủ </a></li>
      <li><a ui-sref="index.listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>
  </div>
</div>
<div class="container margin_60_35" style="transform: none;">
  <div class="row" style="transform: none;">
    <div class="col-md-3">

      <div class="box_style_2 hidden-xs info">
        <h4 class="nomargin_top">Thời gian vận chuyển <i class="icon_clock_alt pull-right"></i></h4>
        <p>
          Dựa vào vị trí của bạn, chúng tôi sẽ lựa chọn hình thức vận chuyển tối ưu giúp bạn tiết kiệm chi phí nhất.
        </p>
        <hr>
        <h4>Thanh toán bảo mật <i class="icon_creditcard pull-right"></i></h4>
        <p>
          Với những chiết khấu ưu đãi hấp dẫn, chúng tôi khuyến khích khách hàng của mình thanh toán trước với các thẻ nội địa.
        </p>
      </div><!-- End box_style_1 -->

      <div class="box_style_2 hidden-xs" id="help">
        <i class="icon_lifesaver"></i>
        <h4>Hỗ trợ</h4>
        <a href="tel://004542344599" class="phone">+84906840601</a>
        <small>Thứ 2 đến thứ 6 từ 9:00am - 7.30pm</small>
      </div>

    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div class="box_style_2" id="order_process">
        <h2 class="inner">Thông tin người nhận</h2>
        <p ng-if="currentUser">Bạn đang đặt hàng với tài khoản {{currentUser.username}}</p>
        <p ng-if="!currentUser"><a href="/login">Đăng nhập</a> với tài khoản Dfood để quản lý đơn đặt hàng và nhận những thông tin khuyến mãi từ các cửa hàng yêu thích </p>
        <div class="form-group">
          <label>Họ và tên</label>
          <input type="text" class="form-control" id="firstname_order" name="firstname_order" ng-model="booking.name">
        </div>
        <div class="form-group">
          <label>Số điện thoại</label>
          <input type="text" id="tel_order" name="tel_order" class="form-control"  ng-model="booking.phone">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" id="email_booking_2" name="email_order" class="form-control" ng-model="booking.email">
        </div>
        <div class="form-group" >
          <div >
             <div class="form-group">
              <div id="pac-container1">
                <label  class="control-label" >
                  Địa chỉ
                </label>
                <input  class="form-control" ng-model="booking.addressCustomer" >
              </div>

            </div>
            <div id="gmaps1"></div>
          </div>
           </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Ngày nhận hàng</label>
              <div style="display:inline-block">
                <datepicker ng-model="booking.dateDelivery"  min-date="minDate" show-weeks="true" ng-click="open()" class="well well-sm" ng-show="opened" style="position: absolute;z-index: 111;top: 65px;left: 15px;"></datepicker>
              </div>
              <input type="date" class="form-control" ng-model="booking.dateDelivery" />
                        <button type="button" ng-click="open()" style="position: absolute;right: 23px;top: 31px;">
                          <i class="glyphicon glyphicon-calendar"></i></button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Giờ nhận hàng</label>
              <select class="form-control" name="delivery_schedule_time" id="delivery_schedule_time" ng-model="booking.timeDelivery">
                <option value="" selected="">Chọn giờ</option>
                <option value="6.00am">6.00am</option>
                <option value="6.30am">6.30am</option>
                <option value="7.00am">7.00am</option>
                <option value="7.30am">7.30am</option>
                <option value="8.00am">8.00am</option>
                <option value="8.30am">8.30am</option>
                <option value="9.00am">9.00am</option>
                <option value="9.30am">9.30am</option>
                <option value="10.00am">10.00am</option>
                <option value="10.30am">10.30am</option>
                <option value="11.00am">11.00am</option>
                <option value="11.30am">11.30am</option>
                <option value="12.00am">12.00am</option>
                <option value="12.30am">12.30am</option>
                <option value="01.00pm">01.00pm</option>
                <option value="01.30pm">01.30pm</option>
                <option value="02.00pm">02.00pm</option>
                <option value="02.30pm">02.30pm</option>
                <option value="03.00pm">03.00pm</option>
                <option value="07.00pm">07.00pm</option>
                <option value="07.15pm">07.15pm</option>
                <option value="07.30pm">07.30pm</option>
                <option value="07.45pm">07.45pm</option>
                <option value="08.00pm">08.00pm</option>
                <option value="08.15pm">08.15pm</option>
                <option value="08.30pm">08.30pm</option>
                <option value="08.45pm">08.45pm</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">

            <label>Ghi chú</label>
            <textarea class="form-control" style="height:150px" placeholder="Ex. Allergies, cash change..." name="notes" id="notes" ng-model="booking.note"></textarea>

          </div>
        </div>
      </div><!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
          <div id="cart_box">
            <h3>Giỏ hàng<i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
              <tbody>
              <tr ng-repeat="item in foodCart">
                <td>

                  <strong>{{item.count}}x</strong> {{item.name}}
                </td>
                <td>
                  <strong class="pull-right"> {{item.price |  number:0}} VND </strong>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <div class="row" id="options_2">
              <div class="col-md-12">
                  <label class=""><div class="iradio_square-grey" ng-class="booking.deliveryOption == 'van chuyen' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('van chuyen')" name="option_2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"  style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Vận chuyển</label>
                  <label class=""><div class="iradio_square-grey" ng-class="booking.deliveryOption == 'lay truc tiep' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('lay truc tiep')" name="option_3" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Lấy trực tiếp</label>
              </div>
            </div><!-- Edn options 2 -->
            <table class="table table_summary">
              <tbody>
              <tr>
                <td>
                  Tạm tính <span class="pull-right"> {{booking.cachePrices |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td>
                  Phí dịch vụ <span class="pull-right"> {{booking.totalService |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td>
                  Phí vận chuyển <span class="pull-right"> {{booking.totalDelivery |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td class="total">
                  Tổng <span class="pull-right"> {{booking.totalPrices |  number:0}} VND</span>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <a class="btn_full" ng-click="bookingFoods('info booking')">Đặt hàng ngay</a>
          </div><!-- End cart_box -->
        </div><!-- End theiaStickySidebar -->
      </div><!-- End theiaStickySidebar -->
    </div>

  </div><!-- End row -->
</div>
