<section class="parallax-window" id="short" style="background: url(/images/booking-bg.png)">
  <div id="subheader">
    <div id="sub_content" class="animated zoomIn">
      <h1>Thông tin đặt hàng</h1>
      <div class="bs-wizard">
        <div class="col-xs-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Thông tin</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/booking" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Thanh toán</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/payment" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum"><strong>3.</strong> Hoàn thành!</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/confirm" class="bs-wizard-dot"></a>
        </div>
      </div><!-- End bs-wizard -->
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section>
