<!--<div class="parallax-mirror" style="visibility: visible; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 350px; width: 1357px;"><img class="parallax-slider" src="/images/sub_header_cart.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: 0px; left: -21px; height: 350px; width: 1400px; max-width: none;"></div>-->

<header ui-view="bookingFood_header" class="headerStyle"></header>
<section class="" ui-view="bookingFood_info"></section>
<section class="" ui-view="bookingFood_main"></section>
<footer class="" ui-view="bookingFood_footer"></footer>

