<div class="panel panel-default">
    <div class="panel-heading">
      Cài đặt tài khoản
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <form class="profile-box box-1" ng-submit="updateAccount('box-1')">
            <a ng-click="editStyle('box-1')" class="edit-style"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            <h3>Thông tin đăng nhập</h3>
            <div class="box-form">
              <label for="accountId">Tài khoản ID</label>
              <input type="text" id="accountId" ng-model="user.id" readonly>
            </div>
            <div class="box-form" >
              <label for="email">Email</label>
              <input type="text" id="email" ng-model="user.email" readonly>
            </div>
            <div class="box-form">
              <label for="password">Mật khẩu</label>
              <input type="password" id="password" value="123456" ng-model="user.password" ng-readonly="editStatusFirst">
            </div>
            <div class="box-button" ng-show="!editStatusFirst">
              <div class="col-md-3 col-md-offset-3">
                <button class="btn btn-danger" ng-click="editStyle('box-1')">Cancel</button>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <button type="submit" class="btn btn-success">Apply</button>
              </div>
            </div>
          </form>
          <form ng-submit="updateAccount('box-2')" class="profile-box box-2">
            <a ng-click="editStyle('box-2')" class="edit-style"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>

            <h3>Thông tin khách hàng</h3>
            <div class="box-form">
              <label for="company">Tên Công ty</label>
              <input type="text" id="company" ng-model="user.company" placeholder="Cập nhật tên công ty" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="fullname">Tên đầy đủ</label>
              <input type="text" id="fullname" ng-model="user.fullname" placeholder="Cập nhật tên đầy đủ" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="sex">Giới tính</label>
              <input type="text" id="sex" ng-model="user.sex" placeholder="Cập nhật giới tính" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="nation">Quốc gia</label>
              <input type="text" id="nation" ng-model="user.nation" placeholder="Cập nhật quốc gia" ng-readonly="editStatus">
            </div>

            <div class="box-form">
              <label for="home">Tên phố/ Số nhà</label>
              <input type="text" id="home" ng-model="user.home" placeholder="Cập nhật Tên số/ số nhà" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="town">Xã/ Phường/ Thị trấn</label>
              <input type="text" id="town" ng-model="user.town" placeholder="Cập nhật xã/ phường" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="district">Quận/ Huyện</label>
              <input type="text" id="district" ng-model="user.district " placeholder="Cập nhật quận huyện" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="city">Tỉnh/ Thành phố</label>
              <input type="text" id="city" ng-model="user.city " placeholder="Cập nhật tỉnh/ thành phố" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="phone">Số điện thoại</label>
                <input type="text" id="phone" ng-model="user.phone" placeholder="Cập nhật số điện thoại" ng-readonly="editStatus">
            </div>
            <div class="box-form">
              <label for="cm">Số CMND</label>
              <input type="text" id="cm" ng-model="user.cm" placeholder="Cập nhật số CMND" ng-readonly="editStatus">
            </div>
            <div class="box-button">
              <div class="col-md-3 col-md-offset-2">
                <button class="btn btn-danger" ng-click="editStyle('box-2')">Cancel</button>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <button type="submit" class="btn btn-success">Apply</button>
              </div>
            </div>
          </form>
          <div class="profile-box">
            <h3>Thông tin hợp đồng tài khoản Dfood</h3>
            <div class="box-form">
              <label for="dateRegister">Ngày đăng ký</label>
              <input type="text" id="dateRegister" ng-model="user.dateRegister">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
