<section admin-header class="content-header"
         title="{{ 'Cài đặt tài khoản' | translate }}"
         sub-title="{{ 'Quản lý tài khoản tại đây!' | translate }}">
</section>
<section ui-view class="content"></section>
