<section class="invoice">
  <section class="first">
    <div class="">
      <h2 class="">
        Chi phí trong tháng này
      </h2>
    </div>
    <div class="row">
      <span class="col-md-6" style="margin-top: 20px">
      <i class="fa fa-chevron-down" aria-hidden="true" ng-click="showDetail()"></i>

      Hóa đơn tính từ 01/03/2017 ～ {{dateNow | date: 'shortDate'}}
    </span>
      <h3 class="col-md-6 pull-right">
        142,560 <span>VND ( Thuế 12,960 VND )</span>
      </h3>
    </div>
    <div class="table-responsive first-detail">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            Ngày bắt đầu kinh doanh
          </th>
          <th>
            Ngày kêt thúc kinh doanh
          </th>
          <th>
            Số đơn hàng
          </th>
          <th>
            Thành tiền
          </th>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            2017-03-01 00:00
          </td>
          <td>
            -
          </td>
          <td>
            <span>5</span>
          </td>
          <td>
            129,600 VND
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>
  <!-- /.row -->
  <!-- Table row -->
  <section class="second">
    <div class="">
      <h2 class="">
       Lịch sử đặt hàng
      </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Ngày đặt hàng</th>
            <th>Tên khách hàng</th>
            <th>Số lượng món ăn</th>
            <th>Phương thức thanh toán</th>
            <th>Thành tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2017-03-20</td>
            <td>Join</td>
            <td>10</td>
            <td>Chuyển khoản ngân hàng</td>
            <td>$64.50</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
  </section>

  <!-- this row will not appear when printing -->
  <div class="row no-print">
    <div class="col-xs-12">
      <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
      <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
      </button>
      <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
        <i class="fa fa-download"></i> Generate PDF
      </button>
    </div>
  </div>
</section>

