<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.booking.name}}
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.booking.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.booking.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <th style="width:50%">Booking Code:</th>
              <td>{{ctrl.booking.id}}</td>
            </tr>
            <tr ng-if="ctrl.user.role == 'admin'">
              <th style="width:50%">Price:</th>
              <td>{{ctrl.booking.totalPrices}}</td>
            </tr>
            <tr ng-if="ctrl.user.role == 'admin'">
              <th>Phone</th>
              <td>{{ctrl.booking.phone}}</td>
            </tr>
            <tr ng-if="ctrl.user.role == 'admin'">
              <th>Email:</th>
              <td>{{ctrl.booking.email}}</td>
            </tr>
            <tr ng-if="ctrl.user.role == 'admin'">
              <th>Address Customer:</th>
              <td>{{ctrl.booking.addressCustomer}}</td>
            </tr>
            <tr>
              <th>Date Delivery:</th>
              <td>{{ctrl.booking.dateDelivery}}</td>
            </tr>
            <tr ng-if="ctrl.user.role == 'admin'">
              <th>Shipper:</th>
              <td>{{ctrl.booking.shipperName}}</td>
            </tr>
            <tr>
              <th>Time Accept Shipping:</th>
              <td>{{ctrl.booking.ShipperTime}}</td>
            </tr>
            <tr>
              <th>Note:</th>
              <td>{{ctrl.booking.note}}</td>
            </tr>
            <tr>
              <th>Status:</th>
              <td>{{ctrl.booking.status}}</td>
            </tr>
            </tbody></table>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Number</th>
              <th>Category Id</th>
              <th>Price</th>
              <th>TotalPrices</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in ctrl.booking.foods track by $index">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
              <td>{{item.categoryId}}</td>
              <td>{{item.price}} VND / 1 unit</td>
              <td>{{item.price * item.count}} VND</td>
              <td>
                <a href="" class="btn btn-xs btn-danger " ng-click="ctrl.editFoods($index,'subtract',item.count)">
                  <i class="fa fa-minus"></i>
                </a>
                <a href="" class="btn btn-xs btn-default" ng-click="ctrl.editFoods($index,'plus')">
                  <i class="fa fa-plus"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ctrl.booking.totalPrices}} VND</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>
  <div class="panel-footer">
    <small>
      Created:
      {{ctrl.booking.created | date:'medium'}}
      <span ng-if="ctrl.booking.created !== ctrl.booking.modified">
        &middot; modified:
        {{ctrl.booking.modified | date:'medium'}}
      </span>
    </small>
  </div>
</div>
