<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách yêu cầu hợp tác
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Tên người đại diện</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Tên nhà hàng, cafe</th>
        <th>Website</th>
        <th>City</th>
        <th>Ngày gửi</th>
      </tr>
      <tr ng-repeat="item in restaurants track by $index">
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.restaurantName}}</td>
        <td>{{item.website}}</td>
        <td>{{item.city}}</td>
        <td>{{item.created | date: 'hh:mm dd/MM/yyyy'}}</td>
      </tr>
      </tbody></table>
  </div>

</div>

