<section admin-header class="content-header"
         title="{{ 'Cài đặt' | translate }}"
         sub-title="{{ 'Quản lý cài đặt tại đây' | translate }}">
</section>
<section ui-view class="content"></section>
