<form name="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span translate>Thêm mới nhà hàng</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-danger" ng-if="addError" translate>Không thể thêm mới!</div>
          <formly-form model="ctrl.restaurant" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
        </div>
        <div nv-file-drop uploader="ctrl.uploader" class="col-md-8">
          <label>Ảnh đại diện</label>
          <div class="panel panel-default" style="border-radius: 0">
            <div class="panel-heading" style="border-radius: 0">
              {{ 'Upload image' | translate }}
              <span class="text-muted" translate>Bạn phải chọn ảnh từ máy tính!</span>
              <span class="pull-right">
        <div class="file-input btn btn-xs btn-success btn-file">
          {{ 'Browse' | translate }}&hellip;
          <input nv-file-select type="file" uploader="ctrl.uploader"/>
        </div>
      </span>
            </div>
            <table class="table table-bordered table-stiped">
              <tr>
                <th width="50%" translate>Name</th>
                <th ng-show="ctrl.uploader.isHTML5" translate>Size</th>
                <th ng-show="ctrl.uploader.isHTML5" translate>Progress</th>
                <th translate>Status</th>
                <th translate>Actions</th>
              </tr>
              <tr>
                <td><strong>{{ ctrl.uploader.queue[0].file.name }}</strong>
                </td>
                <td ng-show="ctrl.uploader.isHTML5" nowrap>{{ ctrl.uploader.queue[0].file.size/1024/1024|number:2 }} MB
                </td>
                <td ng-show="ctrl.uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': ctrl.uploader.queue[0].progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span ng-show="ctrl.uploader.queue[0].isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="ctrl.uploader.queue[0].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="ctrl.uploader.queue[0].isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <div class="input-group pull-right btn-group btn-group-xs">
                    <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.uploader.queue[0].upload()"
                            ng-disabled="ctrl.uploader.queue[0].isReady || ctrl.uploader.queue[0].isUploading || ctrl.uploader.queue[0].isSuccess">
                      <span class="glyphicon glyphicon-upload"></span>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="ctrl.uploader.queue[0].cancel()"
                            ng-disabled="!ctrl.uploader.queue[0].isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.uploader.queue[0].remove()">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-3">
                  {{ 'Upload queue' | translate }}
                  <small> {{ ctrl.uploader.queue.length }} {{ 'in queue' | translate }}</small>
                </div>
                <div class="col-md-4">
                  <div class="progress" style="margin-bottom: 0" ng-if="ctrl.uploader.progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': ctrl.uploader.progress + '%' }">
                      {{ctrl.uploader.progress}}%
                    </div>
                  </div>
                </div>
                <div class="col-md-5" class="text-nowrap">
                  <div class="pull-right btn-group" class="text-nowrap">
                    <a class="btn btn-success btn-xs" ng-click="ctrl.uploader.uploadAll();ctrl.getNameFileUpload('1')"
                       ng-disabled="!ctrl.uploader.getNotUploadedItems().length">
                      {{ 'Upload' | translate }}
                    </a>
                    <a class="btn btn-warning btn-xs" ng-click="ctrl.uploader.cancelAll()"
                       ng-disabled="!ctrl.uploader.isUploading">
                      {{ 'Cancel' | translate }}
                    </a>
                    <a class="btn btn-danger btn-xs" ng-click="ctrl.uploader.clearQueue()"
                       ng-disabled="!ctrl.uploader.queue.length">
                      {{ 'Remove' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="form-group" id="pac-card2">
              <div id="pac-container">
                <label  class="control-label" >
                  Địa chỉ
                </label>
                <input id="pac-input2" placeholder="Enter a location" class="form-control" ng-model="ctrl.restaurant.address">
              </div>

            </div>
          </div>
          <div id="gmaps"></div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
        Thêm mới
      </button>
      <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Hủy bỏ</button>
    </div>
  </div>
</form>
