<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng
    <span class="pull-right btn-group">
      <a class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="10%">Tên nhà hàng</th>
        <th width="10%">Quản lý</th>
        <th width="10%">Mã nhà hàng</th>
        <th width="10%">Phân loại nhà hàng</th>
        <th width="10%">Địa chỉ nhà hàng</th>
        <th width="10%">Khu vực</th>
        <th width="5%">Mở cửa</th>
        <th width="5%">Đóng cửa</th>
        <th width="10%">Mức hoa hồng</th>
        <th width="10%">Số ĐT liên lạc</th>
        <th width="10%">Điều khiển</th>
      </tr>
      <tr ng-repeat="item in restaurants track by $index">
        <td>{{item.name}}</td>
        <td>{{item.user.email}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.id}}</td>
        <td>
         {{item.type}}
        </td>
        <td>
         {{item.address}}
        </td>
        <td>{{item.zone}}</td>
        <td>{{item.open | date: 'shortTime'}}</td>
        <td>{{item.close | date: 'shortTime'}}</td>
        <td>{{item.commission}}</td>
        <td>{{item.phone}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ui-sref="^.edit({ id: item.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="^.delete({ id: item.id })">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>

</div>

