<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.restaurant.name}}
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.restaurant.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.restaurant.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Đề mục</th>
            <th>Nội dung</th>
          </tr>
          <tr>
            <td>Mã nhà hàng:</td>
            <td>{{ctrl.restaurant.id}}</td>
          </tr>
          <tr>
            <td>Tên nhà hàng:</td>
            <td>{{ctrl.restaurant.name}}</td>
          </tr>
          <tr>
            <td>Ngày khởi tạo:</td>
            <td>{{ctrl.restaurant.created | date: 'hh:mm dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td>Phân loại</td>
            <td>{{ctrl.restaurant.type}}</td>
          </tr>
          <tr>
            <td>Địa chỉ</td>
            <td>{{ctrl.restaurant.address}}</td>
          </tr>
          <tr>
            <td>Thời gian mở cửa</td>
            <td>{{ctrl.restaurant.open | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Thời gian đóng cửa</td>
            <td>{{ctrl.restaurant.close | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Khuyến mãi</td>
            <td>{{ctrl.restaurant.promotion}}</td>
          </tr>
          <tr>
            <td>Hoa hồng</td>
            <td>{{ctrl.restaurant.commission}}</td>
          </tr>
          <tr>
            <td>Số điện thoại liên lạc</td>
            <td>{{ctrl.restaurant.phone}}</td>
          </tr>
          <tr>
            <td>Lịch sử đặt hàng</td>
            <td>

            </td>
          </tr>
          </tbody></table>
      </div>
      <div class="col-md-5">
        <img ng-src="{{ctrl.restaurant.imageSrc || '/images/thumb-default.jpg'}}" alt="">
      </div>
    </div>
  <div class="panel-footer">
    <small>
      Created:
      {{ctrl.restaurant.created | date:'medium'}}
      <span ng-if="ctrl.restaurant.created !== ctrl.restaurant.modified">
        &middot; modified:
        {{ctrl.restaurant.modified | date:'medium'}}
      </span>
    </small>
  </div>
</div>
