<header class="headerStyle" >

  <div class="container-fluid">
    <div class="row">
      <div class="col--md-4 col-sm-4 col-xs-4">
        <a href="/" id="logo">
          <img src="/images/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
          <img src="/images/logo.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
        </a>
      </div>
      <nav class="col--md-8 col-sm-8 col-xs-8">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" ng-click="showMenu()"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="/images/logo.png" width="190" height="23" alt="" data-retina="true">
          </div>
          <a ng-click="showMenu()" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li class="submenu">
              <a href="/" class="show-submenu">Trang chủ</a>
              <!--<i class="icon-down-open-mini"></i>-->
              <!--<ul>-->
              <!--<li><a href="index.html">Home Video background</a></li>-->
              <!--<li><a href="index_2.html">Home Static image</a></li>-->
              <!--<li><a href="index_3.html">Home Text rotator</a></li>-->
              <!--<li><a href="index_8.html">Home Layer slider</a></li>-->
              <!--<li><a href="index_4.html">Home Cookie bar</a></li>-->
              <!--<li><a href="index_5.html">Home Popup</a></li>-->
              <!--<li><a href="index_6.html">Home Mobile synthetic</a></li>-->
              <!--<li><a href="index_7.html">Top Menu version 2</a></li>-->
              <!--</ul>-->
            </li>
            <li ng-click="closeMenu('index.about')"><a>Giới thiệu</a></li>
            <li ng-click="closeMenu('foodCarts')"><a>Giỏ hàng</a></li>
            <li ng-if="currentUser.id" ng-click="closeMenu('index.login')"><a >{{currentUser.username}}</a></li>
            <li ng-if="!currentUser.id" ng-click="closeMenu('index.login')"><a >Đăng nhập</a></li>
            <!--<li ng-show="currentUser && currentUser !== null"><a href="/app" data-toggle="modal" data-target="#login_2">Quản lý thông tin</a></li>-->
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->


</header>
<section class="" ui-view></section>
<footer class="" >
  <div class="container">
    <div class="row"> <div class="col-md-3 col-sm-3">
      <h3>Về chúng tôi</h3>
      <ul> <li><a href="/about"> Giới thiệu</a></li>
        <li><a href="/policy">Chính sách bảo mật</a></li>
        <li><a href="/regulation">Quy chế hoạt động</a></li>
        <li><a href="/resolve-complaints">Giải quyết khiếu nại</a></li>
      </ul>
    </div>
      <div class="col-md-3 col-sm-3" id="newsletter">
        <h3>Theo dõi chúng tôi</h3>
        <p> Theo dõi và nhận thông tin ưu đãi của chúng tôi qua hòm mail của bạn. </p>
        <div id="message-newsletter_2"> </div>
        <form method="post" name="newsletter_2" id="newsletter_2" class="ng-pristine ng-valid">
          <div class="form-group">
            <input name="email_newsletter_2" id="email_newsletter_2" type="email" placeholder="Email của bạn" class="form-control">
          </div>
          <input type="submit" value="Theo dõi" class="btn_1" id="submit-newsletter_2">
        </form>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Cài đặt</h3>
        <div class="styled-select">
          <select class="form-control" name="lang" id="lang">
            <option value="Vietnamese" selected="">Vietnamese </option>
            <option value="English">English </option>
            <option value="French">French </option>
            <option value="Spanish">Spanish </option>
            <option value="Russian">Russian </option></select>
        </div> <div class="styled-select">
        <select class="form-control" name="currency" id="currency">
          <option value="USD" selected="">USD </option>
          <option value="EUR">EUR </option>
          <option value="GBP">GBP </option>
          <option value="RUB">RUB </option></select>
      </div> <h3>Chấp nhận thanh toán với</h3> <p>
        <img src="/images/cards.png" alt="" class="img-responsive">
      </p> </div> <div class="col-md-3 col-sm-3">
        <div class="block-last">
          <h3 class="title-block">Địa chỉ</h3>
          <p></p><p>Công Ty TNHH Dfood Việt Nam</p>
          <p>50 Lý Tự Trọng, TP Huế</p>
          <p>GPĐKKD: 3301604032 </p>
          <p> Do sở Kế hoạch và Đầu tư tỉnh Thừa Thiên Huế cấp ngày 17/01/2017</p>
          <p></p>
          <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=22747" target="_blank" class="registered" title="ĐÃ ĐĂNG KÝ BỘ CÔNG THƯƠNG"></a> </div> </div> </div>
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="https://www.facebook.com/dfood.vn/?ref=aymt_homepage_panel" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="#0"><i class="icon-twitter"></i></a></li>
            <li><a href="#0"><i class="icon-google"></i></a></li>
            <li><a href="#0"><i class="icon-instagram"></i></a></li>
            <li><a href="#0"><i class="icon-pinterest"></i></a></li>
            <li><a href="#0"><i class="icon-vimeo"></i></a></li>
            <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
          </ul>
          <p>
            © Dfood 2017
          </p>
        </div>
      </div>
    </div><!-- End row -->
  </div>

</footer>


