<footer class="" >
  <div class="container">
    <div class="row"> <div class="col-md-3 col-sm-3">
      <h3>Về chúng tôi</h3>
      <ul> <li><a href="/about"> Giới thiệu</a></li>
        <li><a href="/policy">Chính sách bảo mật</a></li>
        <li><a href="/regulation">Quy chế hoạt động</a></li>
        <li><a href="/resolve-complaints">Giải quyết khiếu nại</a></li>
      </ul>
    </div>
      <div class="col-md-3 col-sm-3" id="newsletter">
        <h3>Theo dõi chúng tôi</h3>
        <p> Theo dõi và nhận thông tin ưu đãi của chúng tôi qua hòm mail của bạn. </p>
        <div id="message-newsletter_2"> </div>
        <form method="post" name="newsletter_2" id="newsletter_2" class="ng-pristine ng-valid">
          <div class="form-group">
            <input name="email_newsletter_2" id="email_newsletter_2" type="email" placeholder="Email của bạn" class="form-control">
          </div>
          <input type="submit" value="Theo dõi" class="btn_1" id="submit-newsletter_2">
        </form>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Cài đặt</h3>
        <div class="styled-select">
          <select class="form-control" name="lang" id="lang">
            <option value="English" selected="">English </option>
            <option value="French">French </option>
            <option value="Spanish">Spanish </option>
            <option value="Russian">Russian </option></select>
        </div> <div class="styled-select">
        <select class="form-control" name="currency" id="currency">
          <option value="USD" selected="">USD </option>
          <option value="EUR">EUR </option>
          <option value="GBP">GBP </option>
          <option value="RUB">RUB </option></select>
      </div> <h3>Chấp nhận thanh toán với</h3> <p>
        <img src="/images/cards.png" alt="" class="img-responsive">
      </p> </div> <div class="col-md-3 col-sm-3">
        <div class="block-last">
          <h3 class="title-block">Địa chỉ</h3>
          <p></p><p>Công Ty TNHH Dfood Việt Nam</p>
          <p>50 Lý Tự Trọng, TP Huế</p>
          <p>GPĐKKD: 3301604032 </p>
          <p> Do sở Kế hoạch và Đầu tư tỉnh Thừa Thiên Huế cấp ngày 17/01/2017</p>
          <p></p>
          <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=22747" target="_blank" class="registered" title="ĐÃ ĐĂNG KÝ BỘ CÔNG THƯƠNG"></a> </div> </div> </div>
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="https://www.facebook.com/dfood.vn/?ref=aymt_homepage_panel"><i class="icon-facebook"></i></a></li>
            <li><a href="#0"><i class="icon-twitter"></i></a></li>
            <li><a href="#0"><i class="icon-google"></i></a></li>
            <li><a href="#0"><i class="icon-instagram"></i></a></li>
            <li><a href="#0"><i class="icon-pinterest"></i></a></li>
            <li><a href="#0"><i class="icon-vimeo"></i></a></li>
            <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
          </ul>
          <p>
            © Dfood 2017
          </p>
        </div>
      </div>
    </div><!-- End row -->
  </div>

</footer>
