<section class="header-video" style="width: 100vw; height: 100vh">
  <div id="hero_video">
    <div id="sub_content" class="animated zoomIn">
      <h1>DFood.vn Sự lựa chọn hoàn hảo<br> cho từng bữa ăn của bạn</h1>
      <p>
        Chúng tôi cam kết mang lại cho bạn chất lượng dịch tốt nhất
      </p>
      <form method="post" ng-submit="moveListRestaurants(valueSearch)">

        <div id="custom-search-input">
          <div class="input-group">
            <input type="text" class=" search-query" ng-model="valueSearch" placeholder="Nhập tên món ăn hoặc tên nhà hàng bạn cần tìm" ng-change="searchFeature(valueSearch)">
            <span class="input-group-btn">
                        <input type="submit" class="btn_search"  value="submit">
                        </span>
          </div>

          <div ng-if="searchCategories.length > 0 || searchProducts.length > 0" class="search-list">
            <div ng-repeat="item in searchCategories" class="search-item" ui-sref="index.listRestaurants({id: item.id, type: 'Nha hang'})">
            {{item.name}}
          </div>
            <div ng-repeat="item in searchProducts" class="search-item" ui-sref="index.listRestaurants({id: item.id, type: 'Mon an'})">
            {{item.name}}
          </div>
          </div>
        </div>
      </form>

    </div><!-- End sub_content -->
  </div>
  <img src="/images/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960" style="">
  <div id="count" class="hidden-xs">
    <ul>
      <li><span class="number">{{restaurants.length}}</span> Nhà hàng</li>
      <li><span class="number">{{restaurants.length}}</span> Khách hàng tiềm năng</li>
      <li><span class="number">{{countUser}}</span> Thành viên</li>
    </ul>
  </div>
  <video autoplay="true" loop="loop" muted="" id="teaser-video" class="teaser-video">
    <source src="/videos/intro.mp4" type="video/mp4">
    <source src="/videos/intro.ogv" type="video/ogg">
  </video>
</section>
<section class="session2 container margin_60">
  <div class="main_title">
    <h2 class="nomargin_top" style="padding-top:0">Dịch vụ của chúng tôi </h2>
    <p>
      Những gì chúng tôi có thể mang lại cho bạn
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="box_home" id="one">
        <span>1</span>
        <h3>Tìm kiếm món bạn yêu thích</h3>
        <p>
          Tìm tất cả những món ăn mà bạn yêu thích.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="two">
        <span>2</span>
        <h3>Chọn nhà hàng bạn muốn</h3>
        <p>
          Chúng tôi có hơn 1000 nhà hàng trong hệ thống của mình.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="three">
        <span>3</span>
        <h3>Ship hàng nhanh chóng</h3>
        <p>
          Không để bạn đợi lâu, chúng tôi sẽ giao hàng tới ngay.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="four">
        <span>4</span>
        <h3>Thanh toán</h3>
        <p>
          Khi nhận được hàng, hãy thanh toán và đánh giá về chúng tôi.
        </p>
      </div>
    </div>
  </div><!-- End row -->

  <div id="delivery_time" class="hidden-xs">
    <strong><span>2</span><span>0</span></strong>
    <h4>Chúng tôi sẽ giao hàng tận tay với thời gian không quá 20 phút.</h4>
  </div>

</section>

<section class="white_bg">
  <div class="container margin_60">

    <div class="main_title">
      <h2 class="nomargin_top">Đặt ngay tại các nhà hàng uy tín</h2>
      <p>
        Những nhà hàng được đánh giá cao và uy tín<br> trong hệ thống của chúng tôi.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6" ng-repeat="item in restaurants">
        <a ui-sref="detail({id:item.id,zone: item.zone})" alt="item.name" class="strip_list" >
          <div class="ribbon_1">Thịnh hành</div>
          <div class="desc">
            <div class="thumb_strip">
              <img ng-src="{{item.imageSrc || '/images/thumb_restaurant.jpg'}}" alt="item.name">
            </div>
            <h3>Nhà hàng {{item.name}}</h3>
            <div class="type">
              {{item.type}}
            </div>
            <div class="location">
              {{item.address}}. <span class="opening">Mở của lúc {{item.open| date: 'shortTime'}}</span>
            </div>
            <ul>
              <li>Lấy trực tiếp<i class="icon_check_alt2 ok"></i></li>
              <li>Vận chuyển<i class="icon_check_alt2 ok"></i></li>
            </ul>
          </div><!-- End desc-->
        </a><!-- End strip_list-->
      </div><!-- End col-md-6-->
    </div><!-- End row -->
  </div>
</section>

<section>
  <div class="high_light">
    <div class="container">
      <h3>Chọn từ hơn {{restaurants.length}} nhà hàng </h3>
      <p>Chúng tôi hoạt động với hệ thống hơn {{restaurants.length}} nhà hàng uy tín và chất lượng.</p>
      <a ui-sref="index.listRestaurants" alt="">Xem tất cả các nhà hàng</a>
    </div><!-- End container /-->
  </div>
  <section class="parallax-window" style="background: url('/images/bg_office.jpg');background-size: cover;background-repeat: no-repeat;">
    <div class="parallax-content">
      <div class="sub_content">
        <i class="icon_mug"></i>
        <h3>Chúng tôi cũng có thể giao hàng đến văn phòng của bạn</h3>
        <!--<p>-->
        <!--Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.-->
        <!--</p>-->
      </div><!-- End sub_content -->
    </div><!-- End subheader -->
  </section>

</section>
<section class="container margin_60">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Hợp tác với chúng tôi</h2>
    <p>
      Chúng tôi luôn luôn sẵn sàng trở thành đối tác của bạn.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <a class="box_work" href="/submitRestaurant">
        <img src="/images/submit_restaurant.jpg" width="848" height="480" alt="" class="img-responsive">
        <h3>DFood cho hàng và quán</h3>
        <p>Dfood luôn sẵn sàng hợp tác với các nhà hàng, quán ăn, cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng. Hãy kết nối vào hệ thống đặt và giao hàng để tiết kiệm chi phí vận chuyển, marketing hay công nghệ...</p>
        <div class="btn_1">Xem thêm</div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="box_work" href="/submitDriver">
        <img src="/images/delivery.jpg" width="848" height="480" alt="" class="img-responsive">
        <h3>Người vận chuyển</h3>
        <p>Nếu bạn là sinh viên hoặc người có nhiều thời gian rãnh, bạn muốn kiếm thêm thu nhập cho bản thân và gia đình<br>
          Hãy đăng ký và tham gia vào mạng lưới của chúng tôi ngay hôm nay...</p>
        <div class="btn_1">Xem thêm</div>
      </a>
    </div>
  </div>
</section>
