<header class="headerStyle" >

  <div class="container-fluid">
    <div class="row">
      <div class="col--md-4 col-sm-4 col-xs-4">
        <a href="/" id="logo">
          <img src="/images/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
          <img src="/images/logo.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
        </a>
      </div>
      <nav class="col--md-8 col-sm-8 col-xs-8">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" ng-click="showMenu()"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="/images/logo.png" width="190" height="23" alt="" data-retina="true">
          </div>
          <a ng-click="showMenu()" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li class="submenu">
              <a href="/" class="show-submenu" ng-click="showMenu()">Trang chủ</a>
              <!--<ul>-->
              <!--<li><a href="index.html">Home Video background</a></li>-->
              <!--<li><a href="index_2.html">Home Static image</a></li>-->
              <!--<li><a href="index_3.html">Home Text rotator</a></li>-->
              <!--<li><a href="index_8.html">Home Layer slider</a></li>-->
              <!--<li><a href="index_4.html">Home Cookie bar</a></li>-->
              <!--<li><a href="index_5.html">Home Popup</a></li>-->
              <!--<li><a href="index_6.html">Home Mobile synthetic</a></li>-->
              <!--<li><a href="index_7.html">Top Menu version 2</a></li>-->
              <!--</ul>-->
            </li>
            <li ng-click="closeMenu('index.about')"><a>Giới thiệu</a></li>
            <li ng-click="closeMenu('foodCarts')"><a>Giỏ hàng</a></li>
            <li ng-if="currentUser.id" ng-click="closeMenu('index.login')"><a >{{currentUser.username}}</a></li>
            <li ng-if="!currentUser.id" ng-click="closeMenu('index.login')"><a >Đăng nhập</a></li>
            <!--<li ng-show="currentUser && currentUser !== null"><a href="/app" data-toggle="modal" data-target="#login_2">Quản lý thông tin</a></li>-->
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->


</header>
