<div class="col-lg-3 col-xs-6">
  <div class="small-box {{ color }}" ui-sref="{{ href }}">
    <div class="inner">
      <h3>{{quantity}} &nbsp;</h3>
      <p>{{ name | translate }}</p>
    </div>
    <div class="icon"><i class="ion {{ icon }}"></i></div>
    <a  class="small-box-footer" >{{ 'Xem thêm' | translate }} <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
