<header class="headerStyle" ui-view="submitRestaurant_header"></header>
<section class="parallax-window" ui-view="submitRestaurant_info" style="background: url(/images/list-bg.png)"></section>
<section class="" ui-view="submitRestaurant_main"></section>
<section class="container margin_60" ui-view="submitRestaurant_form"></section>
<footer class="" ui-view="submitRestaurant_footer"></footer>

