
  <div class="container margin_60_35">
    <div class="main_title margin_mobile">
      <h2 class="nomargin_top">Các gói dịch vụ</h2>
      <p>
        Lựa chọn gói dịch vụ phù hợp là cách đầu tư thông tin cho doanh nghiệp.
      </p>
    </div>
    <div class="row text-center plans">
      <div class="plan col-md-4">
        <h2 class="plan-title">1 Month Plan</h2>
        <p class="plan-price">$99<span>/00</span></p>
        <ul class="plan-features">
          <li><strong>Check and go</strong> included</li>
          <li><strong>1 month</strong> valid</li>
          <li><strong>Unsubscribe</strong> anytime</li>
        </ul>
      </div> <!-- End col-md-4 -->

      <div class="plan plan-tall col-md-4">
        <span class="ribbon"></span>
        <span class="ribbon_table"></span>
        <h2 class="plan-title">3 Months Plan</h2>
        <p class="plan-price">$199<span>/00</span></p>
        <ul class="plan-features">
          <li><strong>Premium</strong> support</li>
          <li><strong>Check and go</strong> included</li>
          <li><strong>APP</strong> included</li>
          <li><strong>3 months</strong> valid</li>
          <li><strong>Unsubscribe</strong> anytime</li>
        </ul>
      </div><!-- End col-md-4 -->

      <div class="plan col-md-4">
        <h2 class="plan-title">6 Months Plan</h2>
        <p class="plan-price">$299<span>/00</span></p>
        <ul class="plan-features">
          <li><strong>Premium</strong> support</li>
          <li><strong>Check and go</strong> included</li>
          <li><strong>6 months</strong> valid</li>
          <li><strong>Unsubscribe</strong> anytime</li>
        </ul>
      </div><!-- End col-md-4 -->
    </div><!-- End row plans-->
  </div><!-- End container -->
