  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Đăng ký sử dụng dịch vụ</h2>
    <p>
      Chúng tôi sẽ liên lạc tư vấn cho bạn trong thời gian sớm nhất có thể.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form ng-submit="submitFormRestaurant()">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Họ tên người đại diện</label>
              <input type="text" class="form-control" id="name_contact" name="name_contact" placeholder="Jhon" ng-model="formRestaurant.userName">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Email:</label>
              <input type="email" id="email_contact" name="email_contact" class="form-control " placeholder="jhon@email.com" ng-model="formRestaurant.email">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Số điện thoại:</label>
              <input type="text" id="phone_contact" name="phone_contact" class="form-control" placeholder="0905353535" ng-model="formRestaurant.phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Tên nhà hàng, quán cafe ..</label>
              <input type="text" id="restaurant" name="restaurant" class="form-control" placeholder="Pizza King" ng-model="formRestaurant.restaurantName">
            </div>
          </div>

        </div><!-- End row  -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Website</label>
              <input type="text" id="restaurant_web" name="restaurant_web" class="form-control" placeholder="http://" ng-model="formRestaurant.website">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>City</label>
              <input type="text" id="restaurant_city" name="restaurant_city" class="form-control" placeholder="Las Vegas" ng-model="formRestaurant.city">
            </div>
          </div>
        </div><!-- End row  -->
        <div id="pass-info" class="clearfix"></div>
        <hr style="border-color:#ddd;">
        <div class="text-center"><button class="btn_full_outline" type="submit">Gửi thông tin </button></div>
      </form>
    </div><!-- End col  -->
  </div><!-- End row  -->
