<div id="position">
  <div class="container">
    <ul>
      <li><a href="#0">Trang chủ </a></li>
      <li><a href="#0">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>
  </div>
</div>
<div class="container margin_60_35">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Những giá trị Dfood mang đến cho khách hàng</h2>
    <p>
      Hãy để khách hàng trải nghiệm những dịch vụ tốt nhất.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_datareport"></i>
        <h3><span>Tăng doanh số</span> bán hàng</h3>
        <p>
          Tính cạnh tranh trong ngành bán lẽ càng ngày càng khốc liệt thì bán hàng trực tuyến đang là một

          xu hướng tất yếu trong thời đại ngày nay và người tiêu dùng càng lúc càng khó tính đòi hỏi nhiều

          dịch vụ hơn. Dfood.vn ra đời cũng bởi lẽ đó, hỗ trợ cho các nhà bán hàng thực phẩm cung cấp

          thêm dịch vụ đặt hàng trực tuyến và giao hàng đến tận nơi cho khách hàng sẽ hứa hẹn giúp cho

          các nhà cung cấp thực phẩm tăng doanh số tối thiểu 20% khi tiếp cận thêm 1 kênh phân phối

          mới.</p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_chat_alt"></i>
        <h3><span>H24</span> Hỗ trợ trực tuyến</h3>
        <p>
          Nhân viên chăm sóc khách hàng của chúng tôi hoạt động liên tục từ 7h00 AM đến 22h00 để có

          thể giải đáp thắc mắc cũng như bất kỳ vấn đề phát sinh trong các hoạt động giao dịch và nhân

          viên kỹ thuật sẽ xử lý các vấn đề về kỹ thuật trong vòng 4h.</p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_bag_alt"></i>
        <h3><span>Giao hàng</span> nhanh</h3>
        <p>
          Dfood xây dựng hệ thống giao hàng thông minh, linh hoạt để giao hàng tối đa trong 20 phút.

          Chất lượng phục vụ sẽ được kiểm soát tối đa để làm hài lòng bất cứ khách hàng khó tính nào.</p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_mobile"></i>
        <h3><span>Hỗ trợ</span> nền tảng mobile</h3>
        <p>
          Người dùng điện thoại thông minh tại Việt Nam ngày một tăng và để hỗ trợ tốt cho người dùng

          tiếp cận được các dịch vụ, website dfood.vn đã tích hợp hỗ trợ vận hành tốt trên nền tảng mobile.</p>
      </div>
    </div>
  </div><!-- End row -->
  <div class="row">
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_wallet"></i>
        <h3><span>Thanh toán </span>thông minh</h3>
        <p>
          Dfood cung cấp nhiều lựa chọn thanh toán linh hoạt cho khách hàng, sự tiện lợi cho khách hàng

          là tiêu chí hàng đầu mà chúng tôi luôn hướng tới.</p>
      </div>
    </div>
    <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
      <div class="feature">
        <i class="icon_creditcard"></i>
        <h3><span>Bảo mật</span> thông tin</h3>
        <p>
          Dfood áp dụng tất cả các giải pháp cần thiết để đảm bảo bảo mật thông tin khách hàng theo quy

          chế bảo mật thông tin được đăng tải trên website dfood.vn. </p>
      </div>
    </div>
  </div><!-- End row -->
</div>

