<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="10%">Thời gian giao hàng</th>
        <th width="10%">Mã đơn hàng</th>
        <th >Tên món ăn</th>
        <th >Số lượng món ăn</th>
        <th >Nhân viên giao hàng</th>
        <th width="10%">SDT</th>
        <th width="10%">Giá trị đơn hàng</th>
        <th width="10%">Trạng thái</th>
      </tr>
      <tr ng-repeat="item in bookings track by $index" ng-class="(item.status == 'Hủy đơn hàng') ? 'warning-booking' : null">
        <td>{{item.timeDelivery}} - {{item.dateDelivery | date: 'dd/MM/yyyy'}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.id}}</td>
        <td>
          <p ng-repeat="food in item.foods">{{food.name}}</p>
        </td>
        <td>
          <p ng-repeat="food in item.foods">{{food.count}}</p>
        </td>
        <td>{{item.shipperName}}</td>
        <td>{{item.shipperPhoneNumber}}</td>
        <td>{{item.totalPrices}}</td>
        <td>{{item.status}}</td>
      </tr>
      </tbody></table>
  </div>

</div>

