<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách món ăn
    <span class="pull-right btn-group">
    <a href="" class="btn btn-xs btn-success" ui-sref="app.products.add({id: ctrl.category.id})">
    <i class="fa fa-plus"></i>
    </a>
    </span>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="form-group">
        <label>Chọn nhà hàng:</label>
        <select class="form-control" ng-model="ctrl.indexCategory" ng-change="selectCategory(ctrl.indexCategory)">
          <option ng-repeat="item in ctrl.categories track by $index" value={{$index}}>{{item.name}}</option>
        </select>
      </div>
    </div>
    <table class="table table-bordered">
      <tbody><tr>
        <th width="20%">Tên món ăn</th>
        <th width="20%">Phân loại</th>
        <th width="20%">Giá cả (VND)</th>
        <th width="10%">Thời gian chuẩn bị</th>
        <th width="10%">Số lần đặt hàng trong tháng</th>
        <th width="20%">Điều chỉnh</th>
      </tr>
      <tr ng-repeat="item in ctrl.categories[ctrl.indexCategory].products track by $index">
        <td ui-sref="^.view({id: item.id})">{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.price}}</td>
        <td>{{item.timeProcess | date: 'hh:mm'}}</td>
        <td>{{item.history}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ui-sref="^.edit({ id: item.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="^.delete({ id: item.id })">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>
  <div class="panel-body">
    <div ng-show="!ctrl.categories.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        Chưa khởi tạo món ăn.
      </h4>

      <p class="list-group-item-text" translate>Bắt đầu<a href="" ui-sref="^.add"> tạo </a>ngay</p>
    </div>
  </div>
</div>

