<section admin-header class="content-header"
         title="{{ 'Nhà hàng ' | translate }}"
         sub-title="{{ 'Quản lý thông tin nhà hàng tại đây!' | translate }}">
</section>
<section ui-view class="content"></section>
