<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.product.name}}
    <span class="pull-right btn-group">
    <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.product.id})">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" class="btn btn-xs btn-default" ui-sref="^.delete({id: ctrl.product.id})">
      <i class="fa fa-trash-o"></i>
    </a>
  </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Đề mục</th>
            <th>Nội dung</th>
          </tr>
          <tr>
            <td>Tên món ăn</td>
            <td>{{ctrl.product.name}}</td>
          </tr>
          <tr>
            <td>Phân loại</td>
            <td>{{ctrl.product.type}}</td>
          </tr>
          <tr>
            <td>Giá thành</td>
            <td>{{ctrl.product.price}} VND</td>
          </tr>
          <tr>
            <td>Thời gian chế biến</td>
            <td>{{ctrl.product.timeProcess | date: 'hh:mm'}}</td>
          </tr>
          <tr>
            <td>Lịch sử đặt hàng</td>
            <td></td>
          </tr>
          </tbody></table>
      </div>
      <div class="col-md-5">
        <img ng-src="{{ctrl.product.imageSrc || '/images/thumb-default.jpg'}}" alt="">
      </div>
    </div>

  </div>
</div>
