<div id="position">
  <div class="container">
    <ul>
      <li><a href="/">Trang chủ </a></li>
      <li><a ui-sref="index.listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>
  </div>
</div>
<div class="container margin_60_35">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="box_style_2">
        <h2 class="inner">Xác nhận đặt hàng!</h2>
        <div id="confirm">
          <i class="icon_check_alt2"></i>
          <h3>Đặt hàng thành công!</h3>
          <p>
            Cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ của Dfood.vn.
          <br>Hận hạnh được phục vụ quý khách.
          </p>
        </div>
        <h4>Thông tin đơn hàng: </h4>
        <table class="table table-striped nomargin">
          <tbody>
          <tr ng-repeat="item in booking.foods">
            <td>
              <strong>{{item.count}}x</strong> {{item.name}}
            </td>
            <td>
              <strong class="pull-right">{{item.price}} VND</strong>
            </td>
          </tr>
          <tr>
            <td>
              Ngày giao hàng
            </td>
            <td>
              <strong class="pull-right">{{booking.timeDelivery}} {{booking.dateDelivery | date: 'dd/MM/yyyy'}} </strong>
            </td>
          </tr>
          <tr>
            <td>
              Phí vận chuyển <a href="#" class="tooltip-1" data-placement="top" title="" data-original-title="Please consider 30 minutes of margin for the delivery!"><i class="icon_question_alt"></i></a>
            </td>
            <td>
              <strong class="pull-right">{{booking.deliveryOption == 'van chuyen' ? booking.totalDelivery : 0}} VND</strong>
            </td>
          </tr>

          <tr>
            <td class="total_confirm">
              Tổng tiền
            </td>
            <td class="total_confirm">
              <span class="pull-right">{{booking.totalPrices}} VND</span>
            </td>
          </tr>
          </tbody>
        </table>
        <a href="/" class="load_more_bt wow fadeIn animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Về trang chủ ...</a>

      </div>
    </div>
  </div><!-- End row -->
</div>
