<header ui-view="confirm_header" class="headerStyle"></header>
<section class="" ui-view="confirm_info"></section>
<section class="" ui-view="confirm_main"></section>
<footer class="" ui-view="confirm_footer"></footer>
