<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng chưa vận chuyển
  </div>
  <div class="panel-body">
    <table class="table table-bordered" ng-show="bookings.length">
      <tbody><tr>
        <th width="10%">Thời gian đặt hàng</th>
        <th width="10%">Mã đơn hàng</th>
        <th >Nhà hàng</th>
        <th >Địa chỉ nhà hàng</th>
        <th >Địa chỉ giao hàng</th>
        <th width="10%">Giá trị đơn hàng</th>
        <th width="10%">Yêu cầu giao hàng</th>
      </tr>
      <tr ng-repeat="item in bookings track by $index">
        <td>{{item.timeDelivery}} - {{item.dateDelivery | date: 'dd/MM/yyyy'}}</td>
        <td ui-sref="^.view({id: item.id})">{{item.id}}</td>
        <td>{{item.categoryName}}</td>
        <td>{{item.categoryAddress}}</td>
        <td>{{item.addressCustomer}}</td>
        <td>{{item.totalPrices}}</td>
        <td><span class="text-center btn-group">
           <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })">
          <i class="fa fa-eye"></i>
        </a>
        <a class="btn btn-xs btn-default" ng-click="acceptDelivery(item)">
          <i class="fa fa-rocket"></i>
        </a>
      </span></td>
      </tr>
      </tbody></table>
    <div ng-show="!bookings.length">
      <h4 class="list-group-item-heading" translate>
       Danh sách đơn hàng trong hàng chờ trống.
      </h4>
    </div>
  </div>
</div>

