<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    Chi tiết đơn hàng
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="table-responsive">
          <h3>THÔNG TIN KHÁCH HÀNG</h3>
          <table class="table table-striped">
            <tbody>
            <tr>
              <th style="width:50%">Mã khách hàng:</th>
              <td>{{ctrl.booking.id}}</td>
            </tr>

            <tr>
              <th style="width:50%">Tên khách hàng:</th>
              <td>{{ctrl.booking.name}}</td>
            </tr>
            <tr>
              <th>Số điện thoại</th>
              <td>{{ctrl.booking.phone}}</td>
            </tr>
            <tr>
              <th>Địa chỉ Email:</th>
              <td>{{ctrl.booking.email}}</td>
            </tr>
            <tr>
              <th>Địa chỉ:</th>
              <td>{{ctrl.booking.addressCustomer}}</td>
            </tr>
            <tr>
              <th>Khu vực:</th>
              <td>{{ctrl.booking.zone}}</td>
            </tr>
            <tr>
              <th>Thời gian giao hàng:</th>
              <td>{{ctrl.booking.timeDelivery}} - {{ctrl.booking.dateDelivery | date: 'dd/MM/yyyy'}}</td>
            </tr>
            </tbody></table>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="table-responsive">
          <h3>THÔNG TIN ĐƠN HÀNG</h3>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nhà hàng</th>
              <th>Món ăn</th>
              <th>Số lượng</th>
              <th>Đơn vị tính</th>
              <th>Đơn giá</th>
              <th>Tổng giá</th>
              <th>Thời gian chuẩn bị</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in ctrl.booking.foods track by $index">
              <td>{{item.categoryName}}</td>
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.price}} VND</td>
              <td>{{item.price * item.count}} VND</td>
              <td>{{item.timeProcess}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ctrl.booking.totalPrices}} VND</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>
  <div class="panel-footer">
    <small>
      Created:
      {{ctrl.booking.created | date:'medium'}}
      <span ng-if="ctrl.booking.created !== ctrl.booking.modified">
        &middot; modified:
        {{ctrl.booking.modified | date:'medium'}}
      </span>
    </small>
  </div>
</div>
