<div id="position">
  <div class="container">
    <ul>
      <li><a ui-sref="index.home">Trang chủ </a></li>
      <li><a ui-sref="index.listRestaurants">Nhà hàng</a></li>
      <li>Danh sách</li>
    </ul>
    <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Tìm kiếm</a>
  </div>
</div>
<div class="container margin_60_35" style="transform: none;">
  <div class="row" style="transform: none;">
    <div class="col-md-3">

      <div class="box_style_2 hidden-xs info">
        <h4 class="nomargin_top">Thời gian vận chuyển <i class="icon_clock_alt pull-right"></i></h4>
        <p>
          Dựa vào vị trí của bạn, chúng tôi sẽ lựa chọn hình thức vận chuyển tối ưu giúp bạn tiết kiệm chi phí nhất.
        </p>
        <hr>
        <h4>Thanh toán bảo mật <i class="icon_creditcard pull-right"></i></h4>
        <p>
          Với những chiết khấu ưu đãi hấp dẫn, chúng tôi khuyến khích khách hàng của mình thanh toán trước với các thẻ nội địa.
        </p>
      </div><!-- End box_style_1 -->

      <div class="box_style_2 hidden-xs" id="help">
        <i class="icon_lifesaver"></i>
        <h4>Hỗ trợ</h4>
        <a href="tel://004542344599" class="phone">+84906 840 601</a>
        <small>Thứ 2 đến thứ 7 từ 9:00am - 7.30pm</small>
      </div>

    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div class="box_style_2">
        <h2 class="inner">Hình thức thanh toán</h2>
        <div class="payment_select nomargin">
          <label><div class="iradio_square-grey checked" style="position: relative;"><input type="radio" value="" name="payment_method" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Thanh toán sau khi nhận hàng</label>
          <i class="icon_wallet"></i>
        </div>
        <div class="payment_select">
          <label><div class="iradio_square-grey" style="position: relative;"><input type="radio" value="" checked="" name="payment_method" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Thanh toán bằng thẻ tín dụng</label>
          <i class="icon_creditcard"></i>
        </div>
        <div class="payment_select nomargin">
          <label><div class="iradio_square-grey" style="position: relative;"><input type="radio" value="" name="payment_method" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Thanh toán qua thẻ nội địa</label>
          <i class="icon_wallet"></i>
        </div>
      </div><!-- End box_style_1 -->
    </div>

    <div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1227.5px;">
          <div id="cart_box">
            <h3>Giỏ hàng<i class="icon_cart_alt pull-right"></i></h3>
            <hr>
            <div class="row" id="options_2">
              <div class="col-md-12">
                <div class="col-md-6">
                  <label class=""><div class="iradio_square-grey" ng-class="booking.deliveryOption == 'van chuyen' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('van chuyen')" name="option_2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"  style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Vận chuyển</label>
                </div>
                <div class="col-md-6">
                  <label class=""><div class="iradio_square-grey" ng-class="booking.deliveryOption == 'lay truc tiep' ? 'checked' : ''" style="position: relative;"><input type="radio" value="" checked="" ng-click="changeDeliveryOption('lay truc tiep')" name="option_3" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Lấy trực tiếp</label>
                </div>
              </div>
            </div><!-- Edn options 2 -->
            <table class="table table_summary">
              <tbody>
              <tr>
                <td>
                  Tạm tính <span class="pull-right"> {{booking.cachePrices |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td>
                  Phí dịch vụ <span class="pull-right"> {{booking.totalService |  number:0}} VND</span>
                </td>
              </tr>
              <tr>
                <td>
                  Phí vận chuyển <span class="pull-right"> {{booking.deliveryOption == 'van chuyen' ? booking.totalDelivery : 0}} VND</span>
                </td>
              </tr>
              <tr>
                <td class="total">
                  Tổng <span class="pull-right"> {{booking.totalPrices |  number:0 }} VND</span>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <a class="btn_full" ng-click="paymentFoods()">Xác nhận đặt hàng</a>
            <a class="btn_full_outline" ui-sref="bookingFood"><i class="icon-right"></i>Điều chỉnh thông tin</a>
          </div><!-- End cart_box -->
        </div><!-- End theiaStickySidebar -->
      </div><!-- End theiaStickySidebar -->
    </div>

  </div><!-- End row -->
</div>
