<div class="panel panel-default">
  <div class="panel-heading">
    Danh sách đơn hàng đã vận chuyển

  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th width="10%">Thời gian đặt hàng</th>
        <th width="10%">Mã đơn hàng</th>
        <th width="10%">Giá trị đơn hàng</th>
        <th width="10%">Tình trạng</th>
        <th width="10%">Thời gian hoàn thành</th>
        <th width="10%">Thao tác</th>
      </tr>
      <tr ng-repeat="item in bookings track by $index">
        <td>{{item.timeDelivery}} - {{item.dateDelivery}}</td>
        <td>{{item.id}}</td>
        <td>{{item.totalPrices}} VND</td>
        <td>{{item.status}}</td>
        <td>{{item.finalTime | date: 'dd/MM/yyyy h:mm a'}}</td>
        <td>
          <span class="text-center btn-group">
        <a class="btn btn-xs btn-default" ui-sref="^.view({ id: item.id })" style="margin-right: 10px">
          <i class="fa fa-eye"></i>
        </a>
            <a class="btn btn-xs btn-default" ng-if="item.status !== 'Hoàn thành'" ng-click="finalBooking($index)">
          Hoàn thành
        </a>
      </span>
        </td>
      </tr>
      </tbody></table>
  </div>

</div>

