<section admin-header class="content-header"
         title="{{ 'Đơn hàng' | translate }}"
         sub-title="{{ 'Quản lý đơn hàng tại đây!' | translate }}">
</section>
<section ui-view class="content"></section>
